﻿@using System.Text.RegularExpressions;
@model InstaHashtagModel
@{
    var hashmodel = Model.HasGraphql.Hashtag.HashtagMedia;
    var totalLike = 0;
    var totalComment = 0;
    var hashtags = new List<string>();
    var mentions = new List<string>();
    var locations = new List<string>();
    var mostMentions = new List<string>();
    var mostTags = new List<string>();
    int mostTagCount = 0;
    int mostMentionCount = 0;

    foreach (var item in hashmodel.Items)
    {
        totalComment = totalComment + item.Media.CommentCount.Count;
        totalLike = totalLike + item.Media.LikeCount.Count;

        if (item.Media.Caption.Edges.Count() > 0)
        {
            var capt = item.Media.Caption.Edges[0].Node.Text;
            var tags = capt.ToHashtags().OrderBy(x => Guid.NewGuid());
            var mentionsx = capt.ToMentions().OrderBy(x => Guid.NewGuid());

            foreach (var tag in tags)
            {
                if (mostTagCount == 10) { break; }
                if (mostTags.Contains(tag)) { continue; }

                mostTagCount += 1;

                var tagClear = tag.Replace("(", "")
                    .Replace(")", "")
                    .Replace("[", "")
                    .Replace("]", "");

                mostTags.Add(tagClear);
            }

            foreach (var tag in mentionsx)
            {
                if (mostMentionCount == 10) { break; }
                if (mostMentions.Contains(tag)) { continue; }

                mostMentionCount += 1;

                var tagClear = tag.Replace("(", "")
                    .Replace(")", "")
                    .Replace("[", "")
                    .Replace("]", "");

                mostMentions.Add(tagClear);
            }
        }
    }
}

<div class="instagramUserMediaList">
    @foreach (var item in Model.HasGraphql.Hashtag.HashtagMedia.Items)
    {
        var caption = "";
        var mediaCaption = "";
        if (item.Node.Caption.Edges.Count() > 0)
        {
            caption = item.Node.Caption.Edges[0].Node.Text;
            mediaCaption = item.Node.Caption.Edges[0].Node.Text;
        }
        else
        {
            mediaCaption = username + " Instagram Photos, Videos and Stroies";
        }

        <div class="siteMediaListBox siteBox-3">
            <div class="instagramMediasBox">
                <div class="instagramMedia">
                    <a href="@Url.Action("Index","Media", new { code = item.Node.ImageShort  })/" title="caption">
                        @if (item.Node.MediaType == "GraphSidecar")
                        {
                            <i class="icon-images"></i>
                        }
                        else if (item.Node.MediaType == "GraphVideo")
                        {
                            <i class="icon-play"></i>
                        }

                        <img class="zoom"
                             src="@item.Node.DisplayUrl"
                             alt="@mediaCaption"
                             title="@mediaCaption">
                    </a>
                </div>
                @if (!string.IsNullOrEmpty(caption))
                {
                    var text = caption.StripHtml().Replace("#", " #") + " ";
                    text = caption.StripHtml().Replace("@", " @") + " ";
                    var tags = caption.ToHashtags().OrderBy(x => Guid.NewGuid());
                    var xmentions = caption.ToMentions().OrderBy(x => Guid.NewGuid());
                    int counter = 0;
                    int mcounter = 0;

                    foreach (var tag in tags)
                    {
                        if (hashtags.Contains(tag)) { continue; }

                        counter += 1;

                        var tagClear = tag.Replace("(", "")
                            .Replace(")", "")
                            .Replace("[", "")
                            .Replace("]", "");

                        var url = $"/tag/{tagClear.ToLower()}/";
                        var title = tagClear.HashtagTitle();
                        var regexTag = new Regex($"#{tagClear} ", RegexOptions.IgnoreCase);

                        text = regexTag.Replace(text, $"<a href='{url}' title='{title}'>#{tagClear}</a> ", 1);

                        hashtags.Add(tagClear);

                        if (counter > 3)
                        {
                            break;
                        }
                    }

                    foreach (var ment in xmentions)
                    {
                        if (mentions.Contains(ment)) { continue; }

                        mcounter += 1;

                        var mentionClear = ment.Replace("(", "")
                            .Replace(")", "")
                            .Replace("[", "")
                            .Replace("]", "");

                        var url = $"/{mentionClear.ToLower()}/";
                        var title = mentionClear.HashtagTitle();
                        var regexTag = new Regex($"@{mentionClear} ", RegexOptions.IgnoreCase);

                        text = regexTag.Replace(text, $"<a href='{url}' title='{title}'>@{mentionClear}</a> ", 1);

                        mentions.Add(mentionClear);

                        if (mcounter > 3)
                        {
                            break;
                        }
                    }

                    <div class="instagramMediaDescription">
                        @Html.Raw(text)
                    </div>
                }
                @if (item.Node.Location != null)
                {
                    <div class="instagramMediaLocation">
                        <a href="@Url.Action("Index","Location", new { id= item.Node.Location.id })/" title="@item.Node.Location.Name places instagram videos and photos">
                            <i class="icon-location"></i><span> @item.Node.Location.Name</span>
                        </a>
                    </div>
                }
                <div class="instagramMediaStats">
                    <p><i class="icon-heart"></i> @UIHelper.ToCommaSeparetadNumber(item.Node.LikeCount.Count.ToString())</p>
                    <p><i class="icon-bubbles"></i> @UIHelper.ToCommaSeparetadNumber(item.Node.CommentCount.Count.ToString())</p>
                </div>
            </div>
        </div>
    }
</div>
