﻿@using System.Text.RegularExpressions;
@model InstaAccountModel
@{
    var username = Model.Graphql.User.Username;
    var fullname = Model.Graphql.User.Fullname;
    var user = Model.Graphql.User;
    var totalLike = 0;
    var totalComment = 0;
    var hashtags = new List<string>();
    var mentions = new List<string>();
    var locations = new List<string>();
    var mostMentions = new List<string>();
    var mostTags = new List<string>();
    int mostTagCount = 0;
    int mostMentionCount = 0;

    foreach (var item in user.Media.Edges)
    {
        totalComment = totalComment + item.Node.CommentCount.Count;
        totalLike = totalLike + item.Node.LikeCount.Count;
        if (item.Node.Location != null)
        {
            var checkLoc = locations.Contains(item.Node.Location.Name);
            if (!checkLoc)
            {
                locations.Add(item.Node.Location.Name);
            }
        }

        if(item.Node.Caption.Edges.Count() > 0)
        {
            var capt = item.Node.Caption.Edges[0].Node.Text;
            var tags = capt.ToHashtags().OrderBy(x => Guid.NewGuid());
            var mentionsx = capt.ToMentions().OrderBy(x => Guid.NewGuid());
            
            foreach (var tag in tags)
            {
                if(mostTagCount == 10) { break;  }
                if (mostTags.Contains(tag)) { continue; }

                mostTagCount += 1;

                var tagClear = tag.Replace("(", "")
                    .Replace(")", "")
                    .Replace("[", "")
                    .Replace("]", "");

                mostTags.Add(tagClear);
            }
            
            foreach (var tag in mentionsx)
            {
                if(mostMentionCount == 10) { break;  }
                if (mostMentions.Contains(tag)) { continue; }

                mostMentionCount += 1;

                var tagClear = tag.Replace("(", "")
                    .Replace(")", "")
                    .Replace("[", "")
                    .Replace("]", "");

                mostMentions.Add(tagClear);
            }
        }
    }
}

<div class="main">
    <div class="siteContainer">
        <div class="instagramUserContainer">
            <div class="instagramBreadcrumb">
                <a href="/" title="Online Instagram Viewer Browse and Find Accounts and Medias">Home</a>
                <span>&gt;</span>
                <span class="username">@username</span>
            </div>
            <h1>@username's Followers/Fans in @@@username Instagram Account</h1>
            <h2>Find All Instagram Followers/Fans of @username in @@@username Instagram Account.</h2>

            <div class="instagramInfos">
                <div class="userInstagramAvatar">
                    <img src="@user.Avatar"
                         alt="@fullname's Instagram Videos, Photos and Stories in @username Instagram Account"
                         title="@fullname's Instagram Videos, Photos and Stories in @username Instagram Account"
                         width="120" height="120">
                </div>
                <p>@fullname</p>
                <p>@@@username</p>
                <p>
                    @user.Biography
                </p>
            </div>
            <div class="instagramUserAnalytics">
                <div class="instagramUserStats">
                    <i class="icon-file-picture"></i>
                    <p>Medias</p>
                    <p>@UIHelper.ToCommaSeparetadNumber(user.Media.Count.ToString())</p>
                </div>
                <div class="instagramUserStats">
                    <i class="icon-user"></i>
                    <p>Friends</p>
                    <p>@UIHelper.ToCommaSeparetadNumber(user.Followings.Count.ToString())</p>
                </div>
                <div class="instagramUserStats">
                    <i class="icon-users"></i>
                    <p>Followers</p>
                    <p>@UIHelper.ToCommaSeparetadNumber(user.Followers.Count.ToString())</p>
                </div>
                <div class="instagramUserStats">
                    <i class="icon-heart"></i>
                    <p>Total Likes</p>
                    <p>@UIHelper.ToCommaSeparetadNumber(totalLike.ToString())</p>
                </div>
                <div class="instagramUserStats">
                    <i class="icon-bubbles2"></i>
                    <p>Total Comments</p>
                    <p>@UIHelper.ToCommaSeparetadNumber(totalComment.ToString())</p>
                </div>
            </div>

            <div class="instagramStats">
                <div class="width30">
                    <h3>@username Daily Follower Changes</h3>
                    <p>This chart is daily @username follower changes on historical chart instagram statistics summary for @username</p>
                </div>
                <div class="width70">
                    <div id="followerChart"></div>
                </div>
            </div>
            <div class="instagramStats">
                <div class="width30">
                    <h3>@username Daily Friends Changes</h3>
                    <p>This chart is daily @username friends changes on historical chart instagram analytical hisyory tables for @username</p>
                </div>
                <div class="width70">
                    <div id="friendChart"></div>
                </div>
            </div>
            <div class="instagramStats">
                <div class="width30">
                    <h3>@username Daily Media/Post Changes</h3>
                    <p>This chart is daily @username media/post changes on historical chart instagram analytical hisyory tables for @username</p>
                </div>
                <div class="width70">
                    <div id="mediaChart"></div>
                </div>
            </div>

            <div class="userLastStatsBox">
                <div class="siteBox-3 userLastStats mentions">
                    <i class="icon-user"></i>
                    <p>@fullname Friends</p>
                    <ul>
                        @if (mostMentions.Count > 0)
                        {
                            foreach (var item in mostMentions)
                            {
                                <li>@item</li>
                            }
                        }
                    </ul>
                </div>
                <div class="siteBox-3 userLastStats hashtags">
                    <i class="icon-price-tags"></i>
                    <p>Last Hashtags</p>
                    <ul>
                        @if (mostTags.Count > 0)
                        {
                            foreach (var item in mostTags)
                            {
                                <li>@item</li>
                            }
                        }
                    </ul>
                </div>
                <div class="siteBox-3 userLastStats locations">
                    <i class="icon-location2"></i>
                    <p>@fullname Last Locations</p>
                    <ul>
                        @if (locations.Count > 0)
                        {
                            foreach (var item in locations)
                            {
                                <li>@item</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="instagramUserMediaList">
            @foreach (var item in Model.Graphql.User.Media.Edges)
            {
                var caption = "";
                var mediaCaption = "";
                if (item.Node.Caption.Edges.Count() > 0)
                {
                    caption = item.Node.Caption.Edges[0].Node.Text;
                    mediaCaption = item.Node.Caption.Edges[0].Node.Text;
                }
                else
                {
                    mediaCaption = username + " Instagram Photos, Videos and Stroies";
                }

                <div class="siteMediaListBox siteBox-3">
                    <div class="instagramMediasBox">
                        <div class="instagramMedia">
                            <a href="@Url.Action("Index","Media", new { code = item.Node.ImageShort  })/" title="caption">
                                @if (item.Node.MediaType == "GraphSidecar")
                                {
                                    <i class="icon-images"></i>
                                }
                                else if (item.Node.MediaType == "GraphVideo")
                                {
                                    <i class="icon-play"></i>
                                }

                                <img class="zoom"
                                     src="@item.Node.DisplayUrl"
                                     alt="@mediaCaption"
                                     title="@mediaCaption">
                            </a>
                        </div>
                        @if (!string.IsNullOrEmpty(caption))
                        {
                            var text = caption.StripHtml().Replace("#", " #") + " ";
                            text = caption.StripHtml().Replace("@", " @") + " ";
                            var tags = caption.ToHashtags().OrderBy(x => Guid.NewGuid());
                            var xmentions = caption.ToMentions().OrderBy(x => Guid.NewGuid());
                            int counter = 0;
                            int mcounter = 0;

                            foreach (var tag in tags)
                            {
                                if (hashtags.Contains(tag)) { continue; }

                                counter += 1;

                                var tagClear = tag.Replace("(", "")
                                    .Replace(")", "")
                                    .Replace("[", "")
                                    .Replace("]", "");

                                var url = $"/tag/{tagClear.ToLower()}/";
                                var title = tagClear.HashtagTitle();
                                var regexTag = new Regex($"#{tagClear} ", RegexOptions.IgnoreCase);

                                text = regexTag.Replace(text, $"<a href='{url}' title='{title}'>#{tagClear}</a> ", 1);

                                hashtags.Add(tagClear);

                                if (counter > 3)
                                {
                                    break;
                                }
                            }

                            foreach (var ment in xmentions)
                            {
                                if (mentions.Contains(ment)) { continue; }

                                mcounter += 1;

                                var mentionClear = ment.Replace("(", "")
                                    .Replace(")", "")
                                    .Replace("[", "")
                                    .Replace("]", "");

                                var url = $"/{mentionClear.ToLower()}/";
                                var title = mentionClear.HashtagTitle();
                                var regexTag = new Regex($"@{mentionClear} ", RegexOptions.IgnoreCase);

                                text = regexTag.Replace(text, $"<a href='{url}' title='{title}'>@{mentionClear}</a> ", 1);

                                mentions.Add(mentionClear);

                                if (mcounter > 3)
                                {
                                    break;
                                }
                            }

                            <div class="instagramMediaDescription">
                                @Html.Raw(text)
                            </div>
                        }
                        @if (item.Node.Location != null)
                        {
                            <div class="instagramMediaLocation">
                                <a href="@Url.Action("Index","Location", new { id= item.Node.Location.id })/" title="@item.Node.Location.Name places instagram videos and photos">
                                    <i class="icon-location"></i><span> @item.Node.Location.Name</span>
                                </a>
                            </div>
                        }
                        <div class="instagramMediaStats">
                            <p><i class="icon-heart"></i> @UIHelper.ToCommaSeparetadNumber(item.Node.LikeCount.Count.ToString())</p>
                            <p><i class="icon-bubbles"></i> @UIHelper.ToCommaSeparetadNumber(item.Node.CommentCount.Count.ToString())</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

