﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@ViewBag.Canonical" />
    }
    @if (ViewBag.Robots != null)
    {
        <meta name="robots" content="@ViewBag.Robots" />
    }
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@Html.Raw(ViewBag.Description)" />
    }

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="site">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="i-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="x-dns-prefetch-control" content="on">

</head>
<body>
    <header>
        <nav>
            <div class="siteContainer">
                <div class="siteMenuLeft">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")" title="Online instagram analyzer and viewer">
                            <img src="~/_assets/img/logo.png" alt="">
                            <p class="logoTitle">site</p>
                        </a>
                    </div>
                    <div class="search">
                        <form id="searchHeadlineForm">
                            <input type="text" name="test" id="searchInput" class="searchBar" placeholder="Search instagram User or Challenge" />
                            <button id="searchBtn"><i class="icon-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="siteMenuRight">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Index","Search")">Search</a></li>
                        <li><a href="@Url.Action("Index","Compare")">Compare</a></li>
                        <li><a href="@Url.Action("About","Page")">About Us</a></li>
                        <li><a href="@Url.Action("Privacy","Page")">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <p>site.com is first online instagram viewer and anlytics tools</p>
    </footer>

    <link rel="stylesheet" type="text/css" href="~/_assets/fonts/iconset.css" />
    <link rel="stylesheet" type="text/css" href="~/_assets/css/style.css" />


    @RenderSection("scripts", false)
</body>
</html>