﻿@model MediaViewModel
@{
    ViewBag.Title = "Instagram Media";
    ViewBag.Description = "Instagram Media";
    ViewBag.Robots = "noindex, follow";
    ViewBag.Canonical = Url.Action("Index", "Media", new { code = Model.Code });
}

<div class="site-content--extra-large site-grid">
    <div class="centered" id="docTitle">
    </div>
</div>
<div class="spacer-2x"></div>
<div class="site-content--extra-large site-grid">
    <div class="media">
        <div class="grid-col grid-col--2">
            <div class="grid-item media-item">
            </div>
            <div class="grid-item">
                <div class="userinfo">
                </div>
            </div>
            <div class="grid-item">
                <div class="site-card">
                    <div class="site-card-header">
                        <div class="location">
                            No Yet Location
                        </div>
                    </div>
                </div>
            </div>
            <div class=" grid-item comment-list">

            </div>
        </div>

    </div>
</div>

<div class="spacer-6x"></div>


<button class="site-btn site-btn--light search-btn" onclick="openSearch()"><i class="ti-search"></i></button>

<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="site-form">
            <div class="site-form-field">
                <input type="text" name="q" id="q" placeholder="Type something to search..." class="site-input site--width-50" value="">
                <button class="site-btn site-btn--blue btn-search" id="fire"><i class="ti-search"></i></button>
                <button class="closebtn site-btn site-btn--red" onclick="closeSearch()" title="Close Overlay"><i class="ti-close"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="loader"></div>


@section scripts{

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/media.js"></script>
    <script src="~/assets/js/instagram.js"></script>

    <script>
        instagram.media("@Model.Code", "funny");

        document.querySelector("#q").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());

                window.location.assign("/search/" + value + "/");
                return false;
            }
        };
        function clearForSearch(value) {
            value = value.toLowerCase();
            value = value.replace(/ /g, ' ');
            value = value.replace('#', '');
            value = value.replace('<', '');
            value = value.replace('>', '');
            value = value.replace('%', '');
            value = value.replace('&', '');
            value = value.replace('.', '');
            value = value.replace('*', '');
            value = value.replace('/', '');
            value = value.replace('~', '');
            value = value.replace(';', '');
            value = value.replace('@@', '');
            return value;
        }

        document.querySelector("#fire").onclick = function () {
            value = clearForSearch(document.querySelector("#q").value);
            if (value == '')
                ;
            else
                window.location.assign("/search/" + value + "/");

            return false;
        }

        function openSearch() {
            document.getElementById("myOverlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
}