﻿@model SearchViewModel
@{
    ViewBag.Title = "Index";
}

    <div class="main">
        <div class="siteContainer">
            <div class="pageDescription">
                <div class="pageIcon">
                    <i class="icon-search"></i>
                </div>
                <div class="pageTitle">
                    <h1>Search Instagram</h1>
                </div>
                <div class="pageText">
                    <p>Make an <strong>instagram search</strong> to find some hashtags or users.</p>
                </div>
            </div>
            <div class="siteSearchBoxHeader">
                <form class="siteSearchForm">
                    <input type="text" placeholder="Search User and Hashtag">
                    <button><i class="icon-search"></i></button>
                </form>
            </div>
            <div class="siteInstagramSearchResult">
                <div class="instagramHashtagList">
                    <div class="instagramHashtagSearch">
                        <h3>Hashtags for okan</h3>
                    </div>
                    <div class="searchTagBox siteBox-1">
                        <a href="#">
                            <p class="hashtagName">#okan</p>
                            <p class="hashtagCount">886.598 Posts</p>
                        </a>
                    </div>
                    <div class="searchTagBox siteBox-1">
                        <a href="#">
                            <p class="hashtagName">#okan</p>
                            <p class="hashtagCount">886.598 Posts</p>
                        </a>
                    </div>
                    <div class="searchTagBox siteBox-1">
                        <a href="#">
                            <p class="hashtagName">#okan</p>
                            <p class="hashtagCount">886.598 Posts</p>
                        </a>
                    </div>
                    <div class="searchTagBox siteBox-1">
                        <a href="#">
                            <p class="hashtagName">#okan</p>
                            <p class="hashtagCount">886.598 Posts</p>
                        </a>
                    </div>
                </div>
                <div class="instagramUserList">
                    <div class="instagramUserSearch">
                        <h3>Users for okan</h3>
                    </div>
                    <div class="siteBox-3">
                        <div class="siteSearchUserBox">
                            <a href="#">
                                <img src="https://scontent-lhr3-1.cdninstagram.com/vp/82ebc96085db87f676914c9d8582c2c0/5CF794AA/t51.2885-19/s150x150/50651980_1215773018575714_2367113792887717888_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com" alt="">
                                <p class="fullname">Fullname</p>
                                <p class="username">@@Username</p>
                            </a>
                        </div>
                    </div>
                    <div class="siteBox-3">
                        <div class="siteSearchUserBox">
                            <a href="#">
                                <img src="https://scontent-lhr3-1.cdninstagram.com/vp/82ebc96085db87f676914c9d8582c2c0/5CF794AA/t51.2885-19/s150x150/50651980_1215773018575714_2367113792887717888_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com" alt="">
                                <p class="fullname">Fullname</p>
                                <p class="username">@@Username</p>
                            </a>
                        </div>
                    </div>
                    <div class="siteBox-3">
                        <div class="siteSearchUserBox">
                            <a href="#">
                                <img src="https://scontent-lhr3-1.cdninstagram.com/vp/82ebc96085db87f676914c9d8582c2c0/5CF794AA/t51.2885-19/s150x150/50651980_1215773018575714_2367113792887717888_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com" alt="">
                                <p class="fullname">Fullname</p>
                                <p class="username">@@Username</p>
                            </a>
                        </div>
                    </div>
                    <div class="siteBox-3">
                        <div class="siteSearchUserBox">
                            <a href="#">
                                <img src="https://scontent-lhr3-1.cdninstagram.com/vp/82ebc96085db87f676914c9d8582c2c0/5CF794AA/t51.2885-19/s150x150/50651980_1215773018575714_2367113792887717888_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com" alt="">
                                <p class="fullname">Fullname</p>
                                <p class="username">@@Username</p>
                            </a>
                        </div>
                    </div>
                    <div class="siteBox-3">
                        <div class="siteSearchUserBox">
                            <a href="#">
                                <img src="https://scontent-lhr3-1.cdninstagram.com/vp/82ebc96085db87f676914c9d8582c2c0/5CF794AA/t51.2885-19/s150x150/50651980_1215773018575714_2367113792887717888_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com" alt="">
                                <p class="fullname">Fullname</p>
                                <p class="username">@@Username</p>
                            </a>
                        </div>
                    </div>
                    <div class="siteBox-3">
                        <div class="siteSearchUserBox">
                            <a href="#">
                                <img src="https://scontent-lhr3-1.cdninstagram.com/vp/82ebc96085db87f676914c9d8582c2c0/5CF794AA/t51.2885-19/s150x150/50651980_1215773018575714_2367113792887717888_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com" alt="">
                                <p class="fullname">Fullname</p>
                                <p class="username">@@Username</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>