﻿@model LocationViewModel
@{
    ViewBag.Title = "Instagram location medias statistics and comments";
    ViewBag.Description = "Instagram location medias statistics and comments";
    ViewBag.Canonical = Url.Action("Index","Location", new { id = Model.Location });
    ViewBag.Robots = "index,follow";
}

<div class="main">
    <div class="siteContainer">
        <div class="pageDescription">
            <div class="pageIcon">
                <i class="icon-location"></i>
            </div>
            <div class="pageTitle">
                <p class="locationTitle"></p>
                <h1>Loading...</h1>
            </div>
            <div class="pageText">
                <h2>Loading...</h2>
            </div>
            <div class="pageItemCount">
                <p><span>Loading...</span></p>
            </div>
        </div>

        <div class="instagramUserMediaList">
        </div>
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="~/_assets/js/jquery.min.js"></script>
    <script src="~/_assets/js/tagra.js"></script>

    <script>

        $("document").ready(function () {
            instagram.location("@Model.Location", "funny", false);
        })

        setInterval(function () {
            var elem = document.querySelector('.instagramUserMediaList');
		    var msnry = new Masonry( elem, {
		      itemSelector: '.siteBox-3',
            });
        }, 2000)

    </script>
}