
.site-btn-small, .site-layout, html {
    font-family: Montserrat,sans-serif
}

.site-btn, .site-btn:hover, .site-code, .site-link, .site-menu-group, .site-tag a, .text-unstyled, .url-unstyled {
    text-decoration: none
}

[class*=" ti-"], [class^=ti-], html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.img-circle-left, .img-circle-right {
    cursor: pointer;
    float: left
}

.site-layout, html {
    font-weight: 400;
    font-size: 15px
}
.m-0{margin:0!important;}


.img-circle-big, .img-circle-small {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

#stickybar, .btn-group-justified, .nav-box, .site-box-flat, .site-navbar--extra-large {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2)
}

.wrapper, .wrapper ul {
    overflow: hidden
}

.wrapper-list, nav ul {
    list-style: none
}

.site-checkbox input[type=checkbox], .site-radio input[type=radio], .site-switch input[type=checkbox] {
    visibility: hidden
}

html {
    color: #333;
    font-smooth: antialiased;
    text-rendering: optimizeLegibility
}

body {
    margin: 0;
    background-color: #efefef;
}

ul {
    padding: 0 15px 15px
}

.spacer {
    height: 10px
}

.spacer-2x {
    height: 20px
}

.spacer-6x {
    height: 120px
}


.spacer-8x {
    height: 160px
}

p {
    word-wrap: break-word
}

.table-cell-fix {
    display: block;
    width: 130px
}

.div-relative {
    position: relative
}

.tag-absolute {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px
}

.grey-bg {
    background-color: #eff4f9
}

.img-circle-right {
    margin-left: 13px
}

.footer-fix {
    padding-top: 100px;
}


.site-layout {
    display: block;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    color: #a33320
}

.site-layout--left {
    float: left
}

.site-layout--right, .site-list-item .site-tag {
    float: right
}

.site-blockquote {
    display: block;
    color: #879aab;
    font-size: 15px;
    line-height: 22px;
    border-left: 4px solid #879aab;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px 10px 20px
}

.site-code {
    color: #ee675d;
    font-size: 13px;
    background-color: #eef2f7;
    border-radius: 3px;
    padding: 2px 5px
}

h1, h2 {
    font-weight: 700;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px
}

.site-code--dark {
    background-color: #a33320 !important;
    color: #fff
}

.tab {
    display: inline-block;
    margin-left: 40px
}

.url-title-sub, .url-unstyled, h1, h2 {
    display: block
}

h1 {
    word-break: break-word;
    font-size: 1.4em;
    line-height: 1.4em;
}

h2 {
    font-size: 26px
}

.text-unstyled {
    font-weight: 400;
    font-size: 13px
}

.main-icon {
    max-width: 100%;
    height: 100%;
}

.url-title-main {
    font-size: 14px;
    font-weight: 700;
    color: #a33320;
    display: block;
    line-height: 14px;
    padding-top: 15px;
    max-width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.url-title-main-w100 {
    max-width: 100% !important;
    font-size: 14px !important
}

.url-title-sub {
    font-size: 12px;
    color: #969696
}

.pinterest-btn, .totop {
    position: fixed;
    right: 30px;
    padding: 10px;
    width: 20px;
    color: #FFF
}

.totop {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    bottom: 10px
}

.pinterest-btn {
    bottom: 70px
}

.img-circle-big {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    float: left
}

.img-circle-small {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.wrapper ul {
    float: left;
    margin: 0 0 0 20px
}

.site-p, .site-paragraph, .site-pre {
    display: block;
    line-height: 22px;
    margin-top: 0
}

.wrapper h1 {
    font-size: 16px;
    margin: 0
}

.wrapper-list {
    padding-left: 0;
    max-width: 740px
}

    .wrapper-list > li {
        line-height: 22px
    }

.no-spacing {
    padding: 0;
    margin: 0
}

.card-padding {
    padding: 12px
}

.card-title {
    font-size: 15px;
}

.card-text {
    font-size: 14px
}

.site-table .site-btn {
    font-weight: 700
}

.site-link {
    color: #4e91e4;
    transition: all .3s
}

.site-btn, .site-btn-small {
    transition: opacity .3s;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center
}

.site-link:hover {
    cursor: pointer;
    color: #3e7e88
}

.site-p, .site-paragraph {
    font-size: 15px;
    margin-bottom: 15px
}

.site-pre {
    overflow-x: auto;
    width: calc(100% - 2 * 15px);
    color: #a33320;
    font-size: 14px;
    background-color: #eef2f7;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px
}

.site-pre--dark {
    background-color: #a33320 !important;
    color: #fff
}

.site-small {
    font-size: 13px;
    color: #879aab
}

.site-btn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    margin-right: 5px;
    right: 0px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.site-btn-small, .site-tag {
    font-size: 12px;
    text-decoration: none
}

.site-btn:hover {
    opacity: .8
}

.site-btn.site-btn--primary {
    background-color: #3e465a;
    color: #fff
}

.site-btn.site-btn--success {
    background-color: #93d260;
    color: #fff
}

.site-btn.site-btn--warning {
    background-color: #fbc850;
    color: #fff
}

.site-btn.site-btn--error {
    background-color: #ee675d;
    color: #fff
}

.site-btn.site-btn--dark {
    background-color: #a33320;
    color: #fff
}

.site-btn.site-btn--light {
    background-color: #5b160b;
    color: #fff;
}

.site-btn.site-btn--navy {
    background-color: #a33320;
    color: #fff
}

.site-btn.site-btn--green {
    background-color: #93d260;
    color: #fff
}

.site-btn.site-btn--teal {
    background-color: #60d2b6;
    color: #fff
}

.site-btn.site-btn--blue {
    background-color: #4e91e4;
    color: #fff
}

.site-btn.site-btn--purple {
    background-color: #ac94e8;
    color: #fff
}

.site-btn.site-btn--pink {
    background-color: #e77eb8;
    color: #fff
}

.site-btn.site-btn--red {
    background-color: #ee675d;
    color: #fff
}

.site-btn.site-btn--orange {
    background-color: #f78055;
    color: #fff
}

.site-btn.site-btn--yellow {
    background-color: #fbc850;
    color: #fff
}

.site-btn.site-btn--grey {
    background-color: #5b160b;
    color: #a33320
}

.site-btn-small {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    border-radius: 5px;
    border: 0;
    margin-top: 5px
}

.site-btn--disabled {
    opacity: .6 !important;
    cursor: not-allowed !important
}

.site-btn--fluid {
    width: calc(100% - 15px - 15px)
}

.site-close {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: background-color .3s;
    position: relative;
    border-radius: 100px;
    background-color: rgba(84,103,120,.3)
}

    .site-close:after, .site-close:before {
        content: "";
        display: block;
        width: 12px;
        height: 2px;
        position: absolute;
        top: 9px;
        left: 4px;
        background-color: #fff
    }

    .site-close:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .site-close:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .site-close:hover {
        background-color: rgba(84,103,120,.5)
    }

.site-rule {
    display: block;
    height: 2px;
    background-color: #5b160b;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0
}

    .site-rule:first-child {
        margin-top: 0 !important
    }

    .site-rule:last-child {
        margin-bottom: 0 !important
    }

@-webkit-keyframes site-spinner-animation {
    50% {
        background-color: transparent
    }
}

@keyframes site-spinner-animation {
    50% {
        background-color: transparent
    }
}

.site-tag {
    display: inline-block;
    font-weight: 700;
    line-height: 25px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px
}

.site-alert, .site-tip {
    font-size: 15px;
    margin-bottom: 15px;
    display: block
}

.site-tag--rounded {
    border-radius: 15px
}

.site-tag.site-tag--primary {
    background-color: #4e91e4;
    color: #fff
}

.site-tag.site-tag--success {
    background-color: #93d260;
    color: #fff
}

.site-tag.site-tag--warning {
    background-color: #fbc850;
    color: #fff
}

.site-tag.site-tag--error {
    background-color: #ee675d;
    color: #fff
}

.site-tag.site-tag--dark {
    background-color: #a33320;
    color: #fff
}

.site-tag.site-tag--light {
    background-color: #5b160b;
    color: #a33320
}

.site-tag.site-tag--navy {
    background-color: #a33320;
    color: #fff
}

.site-tag.site-tag--green {
    background-color: #93d260;
    color: #fff
}

.site-tag.site-tag--teal {
    background-color: #60d2b6;
    color: #fff
}

.site-tag.site-tag--blue {
    background-color: #4e91e4;
    color: #fff
}

.site-tag.site-tag--purple {
    background-color: #ac94e8;
    color: #fff
}

.site-tag.site-tag--pink {
    background-color: #e77eb8;
    color: #fff
}

.site-tag.site-tag--red {
    background-color: #ee675d;
    color: #fff
}

.site-tag.site-tag--orange {
    background-color: #f78055;
    color: #fff
}

.site-tag.site-tag--yellow {
    background-color: #fbc850;
    color: #fff
}

.site-tag.site-tag--grey {
    background-color: #5b160b;
    color: #a33320
}

.site-tip {
    position: relative;
    width: calc(100% - 25px - 20px - 5px);
    border-left-style: solid;
    border-left-width: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 20px !important;
    padding-bottom: 10px;
    padding-left: 25px !important;
    background-color: #eef2f7;
    color: #a33320;
    line-height: 22px
}

    .site-tip::before {
        position: absolute;
        top: 10px;
        left: -12px;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        color: #fff;
        text-align: center;
        line-height: 20px
    }

.site-card-body:first-child, .site-card-footer:first-child, .site-card-header:first-child, .site-list-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.site-tip.site-tip--primary {
    border-left-color: #4e91e4
}

    .site-tip.site-tip--primary::before {
        background-color: #4e91e4
    }

.site-tip.site-tip--success {
    border-left-color: #93d260
}

    .site-tip.site-tip--success::before {
        background-color: #93d260
    }

.site-tip.site-tip--warning {
    border-left-color: #fbc850
}

    .site-tip.site-tip--warning::before {
        background-color: #fbc850
    }

.site-tip.site-tip--error {
    border-left-color: #ee675d
}

    .site-tip.site-tip--error::before {
        background-color: #ee675d
    }

.site-tip.site-tip--dark {
    border-left-color: #a33320
}

    .site-tip.site-tip--dark::before {
        background-color: #a33320
    }

.site-tip.site-tip--light {
    border-left-color: #5b160b
}

    .site-tip.site-tip--light::before {
        background-color: #5b160b
    }

.site-tip.site-tip--navy {
    border-left-color: #a33320
}

    .site-tip.site-tip--navy::before {
        background-color: #a33320
    }

.site-tip.site-tip--green {
    border-left-color: #93d260
}

    .site-tip.site-tip--green::before {
        background-color: #93d260
    }

.site-tip.site-tip--teal {
    border-left-color: #60d2b6
}

    .site-tip.site-tip--teal::before {
        background-color: #60d2b6
    }

.site-tip.site-tip--blue {
    border-left-color: #4e91e4
}

    .site-tip.site-tip--blue::before {
        background-color: #4e91e4
    }

.site-tip.site-tip--purple {
    border-left-color: #ac94e8
}

    .site-tip.site-tip--purple::before {
        background-color: #ac94e8
    }

.site-tip.site-tip--pink {
    border-left-color: #e77eb8
}

    .site-tip.site-tip--pink::before {
        background-color: #e77eb8
    }

.site-tip.site-tip--red {
    border-left-color: #ee675d
}

    .site-tip.site-tip--red::before {
        background-color: #ee675d
    }

.site-tip.site-tip--orange {
    border-left-color: #f78055
}

    .site-tip.site-tip--orange::before {
        background-color: #f78055
    }

.site-tip.site-tip--yellow {
    border-left-color: #fbc850
}

    .site-tip.site-tip--yellow::before {
        background-color: #fbc850
    }

.site-tip.site-tip--grey {
    border-left-color: #5b160b
}

    .site-tip.site-tip--grey::before {
        background-color: #5b160b
    }

.site-tip--exclamation::before {
    content: "!"
}

.site-tip--question::before {
    content: "?"
}

.site-tip--heart::before {
    content: "❤"
}

.sd-group::after, nav:after {
    content: "";
    clear: both
}

.site-alert {
    width: calc(100% - 15px - 30px);
    line-height: 22px;
    position: relative;
    border-radius: 5px;
    padding: 15px 30px 15px 15px
}

.site-alert-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 26px
}

.site-alert.site-alert--primary {
    background-color: #a7c8f2;
    color: #3e7e88
}

.site-alert.site-alert--success {
    background-color: #c9e9b0;
    color: #609f2d
}

.site-alert.site-alert--warning {
    background-color: #fde7b4;
    color: #e09f05
}

.site-alert.site-alert--error {
    background-color: #f8beb9;
    color: #cf2316
}

.site-alert.site-alert--dark {
    background-color: #879aab;
    color: #2a343c
}

.site-alert.site-alert--light {
    background-color: #eef2f7;
    color: #cbd8e6
}

.site-alert.site-alert--navy {
    background-color: #788ea1;
    color: #34414b
}

.site-alert.site-alert--green {
    background-color: #bce39c;
    color: #6cb332
}

.site-alert.site-alert--teal {
    background-color: #9ce3d1;
    color: #32b393
}

.site-alert.site-alert--blue {
    background-color: #90bbee;
    color: #1e6ac8
}

.site-alert.site-alert--purple {
    background-color: #ded5f6;
    color: #7c57db
}

.site-alert.site-alert--pink {
    background-color: #f3bedb;
    color: #db3d94
}

.site-alert.site-alert--red {
    background-color: #f5a8a3;
    color: #e72618
}

.site-alert.site-alert--orange {
    background-color: #fab69e;
    color: #f4490b
}

.site-alert.site-alert--yellow {
    background-color: #fde09b;
    color: #fab005
}

.site-alert.site-alert--grey {
    background-color: #eef2f7;
    color: #cbd8e6
}

.site-alert .site-close {
    position: absolute !important;
    right: 5px !important;
    top: 5px !important
}

.sd-group-item, .site-box-flat, nav ul, nav ul ul li, nav ul ul ul li {
    position: relative
}

.site-card {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 100%;
    color: #000;
    font-size: 15px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
}

.site-card-body, .site-card-footer, .site-card-header {
    line-height: 22px;
}

    .site-card-body:last-child, .site-card-footer:last-child, .site-card-header:last-child {
        border-bottom: 2px solid #eef2f7;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px
    }

.site-card-footer, .site-card-header {
    display: block;
    padding: 12px;
    background-color: #ffffff;
    overflow: auto
}

#stickybar, .site-table-cell {
    overflow: hidden;
    white-space: nowrap
}

.site-card-header {
    font-weight: 700;
    font-size: 13px
}

.site-card-body {
    display: block;
    background-color: #fff;
}

.site-card-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px
}

.site-card-subtitle {
    display: block;
    font-size: 15px;
    color: #879aab;
    margin-bottom: 5px
}

.site-list, .site-menu {
    margin-bottom: 15px;
    display: block;
    width: 100%
}

.site-card-title + .site-card-subtitle {
    margin-top: -5px !important
}

.site-list {
    color: #a33320;
    font-size: 15px;
    line-height: 22px
}

.site-list-item {
    display: block;
    padding: 10px;
    background-color: #eef2f7;
    transition: all .3s ease
}

    .site-list-item:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px
    }

    .site-list-item:not(:last-child) {
        border-bottom: 1px solid #5b160b
    }

.site-list--hover .site-list-item:hover {
    background-color: #5b160b;
    cursor: pointer
}

.site-list-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px
}

.big-icon, nav ul li {
    float: left
}

.site-menu {
    margin-top: 0;
    padding: 0
}

.site-menu-group {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    transition: color .3s;
    font-size: 15px;
    font-weight: 700;
    color: #fff
}

    .site-menu-group:not(:first-child) {
        margin-top: 10px
    }

    .site-menu-group:hover {
        text-decoration: none !important;
        color: #879aab
    }

.site-menu-item {
    display: block;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(84,103,120,.7);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    background-color: rgba(221,229,238,0);
    transition: all ease .3s;
    cursor: pointer
}

    .site-menu-item:not(.site-menu-item--selected):hover {
        text-decoration: none !important;
        color: #fff
    }

.site-menu-item--selected {
    background-color: #4e91e4;
    color: #fff
}

.site-menu-sub, .site-menu-submenu {
    display: block;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 1px solid #cbd8e6
}

.site-table {
    width: 100%;
    font-size: 12px;
    color: #a33320;
    border-collapse: collapse;
    border-width: 0;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow-x:scroll;
}
.site-table table {
    width: 100%;
    border: 0;
    border-spacing: 0px;
    border-collapse: separate;
}

.site-table-row {
    display: table-row;
    transition: all .3s;
    border-bottom: 2px solid #fff
}

    .site-table-row:last-child {
        border-bottom: 0
    }

.site-table-cell {
    display: table-cell;
    line-height: 22px;
    padding: 10px;
    transition: background-color .3s
}

.site-table--border .site-table-cell:not(:last-child) {
    border-right: 2px solid #fff
}

.site-table-header {
    display: table-header-group;
    border-bottom: 3px solid #fff !important;
    font-weight: 700
}

.menu-item-divider, .nav-box {
    border-bottom: 1px solid #aa3925;
}

.site-table-header .site-table-row:first-child .site-table-cell:first-child {
    border-top-left-radius: 5px
}

.site-table-header .site-table-row:first-child .site-table-cell:last-child {
    border-top-right-radius: 5px
}

.site-table-header .site-table-cell {
    background-color: #cbd8e6 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important
}

.site-table-body {
    display: table-row-group
}

    .site-table-body .site-table-cell {
        background-color: rgba(238,242,247,.4);
        border-bottom:2px solid #fff;
    }
.site-table-body:last-child .site-table-cell {
    border-bottom: 0;
}

    .site-table-body .site-table-row:last-child .site-table-cell:first-child {
        border-bottom-left-radius: 5px
    }

    .site-table-body .site-table-row:last-child .site-table-cell:last-child {
        border-bottom-right-radius: 5px
    }

.site-table--striped .site-table-body .site-table-row:nth-child(odd) .site-table-cell {
    background-color: #eef2f7;
    border-radius: 5px;
}

.site-table--hover .site-table-body .site-table-row:hover .site-table-cell {
    background-color: #5b160b !important
}

.site-box {
    display: block;
    vertical-align: top;
    width: calc(100% - 60px);
    background-color: #5b160b;
    font-size: 15px;
    border-radius: 5px;
    padding: 30px
}

.site-box-detail, .site-box-subtitle, .site-box-title {
    display: block;
    text-decoration: none
}

.site-box-title {
    font-weight: 700;
    font-size: 35px
}

.site-box-subtitle {
    font-size: 22px;
    opacity: .75
}

.site-box-detail {
    font-size: 16px;
    line-height: 22px;
    opacity: .5
}

.site-box-subtitle + .site-box-detail, .site-box-title + .site-box-detail, .site-box-title + .site-box-subtitle {
    margin-top: 5px
}

.site-box.site-box--primary {
    background-color: #4e91e4;
    color: #fff
}

.site-box.site-box--success {
    background-color: #93d260;
    color: #fff
}

.site-box.site-box--warning {
    background-color: #fbc850;
    color: #fff
}

.site-box.site-box--error {
    background-color: #ee675d;
    color: #fff
}

.d-table{display:table!important;}

.site-box.site-box--dark {
    background-color: #a33320;
    color: #fff
}

.site-box.site-box--light {
    background-color: #5b160b;
    color: #a33320
}

.site-box.site-box--navy {
    background-color: #a33320;
    color: #fff
}

.site-box.site-box--green {
    background-color: #93d260;
    color: #fff
}

.site-box.site-box--teal {
    background-color: #60d2b6;
    color: #fff
}

.site-box.site-box--blue {
    background-color: #4e91e4;
    color: #fff
}

.site-box.site-box--purple {
    background-color: #ac94e8;
    color: #fff
}

.site-box.site-box--pink {
    background-color: #e77eb8;
    color: #fff
}

.site-box.site-box--red {
    background-color: #ee675d;
    color: #fff
}

.site-box.site-box--orange {
    background-color: #f78055;
    color: #fff
}

.site-box.site-box--yellow {
    background-color: #fbc850;
    color: #fff
}

.site-box.site-box--grey {
    background-color: #5b160b;
    color: #a33320
}

.site-content {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px
}

.site-content--extra-small {
    max-width: 480px;
    padding-left: calc(50% - 480px / 2);
    padding-right: calc(50% - 480px / 2)
}

.sd-header {
    display: block;
    background-color: #ED553B;
    color: #fff
}

.sd-group {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eef2f7
}

.sd-group-header {
    display: block;
    margin-bottom: 40px
}

.sd-group-header-title {
    font-size: 26px;
    margin: 0px;
}

.main-bg {
    background: url(../img/home-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15px
}

.centered {
    margin: 0 auto;
    text-align: center
}

.icon-4x {
    display: block;
    padding-top: 20px;
    font-size: 33px
}

.site-box-flat {
    display: block;
    vertical-align: top;
    width: calc(100% - 40px);
    background-color: #5b160b;
    font-size: 15px;
    padding: 20px
}

.sd-group-item {
    display: inline-block;
    width: calc(33% - 30px);
    float: left;
    height: 140px;
    padding: 15px;
    text-decoration: none !important;
    color: #a33320;
    border-radius: 5px;
    transition: background-color .3s ease
}

nav, nav ul {
    padding: 0;
    margin: 0
}

.sd-group-item:hover {
    cursor: pointer;
    background-color: #fff
}

.sd-group::after {
    display: table
}

.toggle, [id^=drop], nav ul ul {
    display: none
}

.sd-group-item-title {
    font-size: 20px;
    font-weight: 700;
    color: #a33320;
    margin-bottom: 5px
}

.sd-group-item-logo {
    font-size: 30px
}

.nav-icon {
    vertical-align: text-bottom
}

nav:after {
    display: table
}

.nav-box {
    border-top: 1px solid #aa3925;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

nav ul li {
    margin: 0;
    display: inline-block;
    background-color: #ED553B
}

nav a {
    display: block;
    padding: 0 20px;
    color: #fff;
    line-height: 45px;
    text-decoration: none;
    font-size: 13px
}

    nav a:hover {
        color: #d7e2e4
    }

nav ul ul {
    position: absolute
}

nav ul li:hover > ul {
    display: inherit;
    z-index: 1
}

nav ul ul li {
    width: 210px;
    float: none;
    display: list-item
}

nav ul ul li:first-child{border-top-right-radius: 5px; border-top-left-radius: 5px;}
nav ul ul li:last-child{border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}

nav ul ul ul li {
    top: -60px;
    left: 170px
}

li > a:only-child:after {
    content: ''
}

@media all and (max-width :768px) {
    #logo, nav ul li {
        width: 100%
    }

    nav ul ul, nav ul ul ul li {
        position: static
    }

    #logo {
        display: block;
        padding: 0;
        text-align: center;
        float: none
    }

    nav {
        margin: 0;
        border: 1px solid #3e7e88;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    
    }

    .menu, .toggle + a {
        display: none
    }

    .toggle, [id^=drop]:checked + ul, nav ul li {
        display: block
    }

    .toggle {
        padding: 0 20px;
        color: #FFF;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    nav ul ul .toggle, nav ul ul a {
        padding: 0 40px
    }

    nav ul ul ul a {
        padding: 0 80px
    }

    nav a:hover, nav ul ul ul a {
        background-color: #4e91e4
    }

    nav ul li ul li .toggle, nav ul ul a {
        background-color: #3e7e88;
        text-align: center;
        font-size: 12px
    }

    nav ul ul {
        float: none;
        color: #fff
    }

        nav ul li:hover > ul, nav ul ul li:hover > ul {
            display: none
        }

        nav ul ul li {
            display: block;
            width: 100%
        }

    .site-table-row {
        font-size: 11px
    }
}

.site-navbar-subtitle, .site-navbar-title {
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    cursor: pointer
}

.site-navbar--fluid {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px
}

.site-navbar-title {
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    padding-left: 0;
    padding-right: 0;
    color: #fff
}

.site-navbar-subtitle {
    display: inline-block;
    font-size: 12px;
    opacity: .6
}

    .site-navbar-subtitle::before {
        display: inline-block;
        content: "";
        width: 2px;
        height: calc(34px - 10px);
        float: left;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 6px;
        opacity: .4
    }

.site-navbar-item, .site-navbar-link {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-align: center;
    transition: opacity .3s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700
}

    .site-navbar-item:hover, .site-navbar-link:hover {
        opacity: 1
    }

.site-navbar.site-navbar--primary {
    background-color: #4e91e4;
    color: #fff
}

    .site-navbar.site-navbar--primary .site-navbar-subtitle, .site-navbar.site-navbar--primary .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--primary .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--primary .site-navbar-item, .site-navbar.site-navbar--primary .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--success {
    background-color: #93d260;
    color: #fff
}

    .site-navbar.site-navbar--success .site-navbar-subtitle, .site-navbar.site-navbar--success .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--success .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--success .site-navbar-item, .site-navbar.site-navbar--success .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--warning {
    background-color: #fbc850;
    color: #fff
}

    .site-navbar.site-navbar--warning .site-navbar-subtitle, .site-navbar.site-navbar--warning .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--warning .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--warning .site-navbar-item, .site-navbar.site-navbar--warning .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--error {
    background-color: #ee675d;
    color: #fff
}

    .site-navbar.site-navbar--error .site-navbar-subtitle, .site-navbar.site-navbar--error .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--error .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--error .site-navbar-item, .site-navbar.site-navbar--error .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--dark {
    background-color: #a33320;
    color: #fff
}

    .site-navbar.site-navbar--dark .site-navbar-subtitle, .site-navbar.site-navbar--dark .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--dark .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--dark .site-navbar-item, .site-navbar.site-navbar--dark .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--light .site-navbar-item, .site-navbar.site-navbar--light .site-navbar-link, .site-navbar.site-navbar--light .site-navbar-subtitle, .site-navbar.site-navbar--light .site-navbar-title {
    color: #a33320
}

.site-navbar.site-navbar--light {
    background-color: #5b160b;
    color: #a33320
}

    .site-navbar.site-navbar--light .site-navbar-subtitle::before {
        background-color: #a33320
    }

.site-navbar.site-navbar--navy {
    background-color: #a33320;
    color: #fff
}

    .site-navbar.site-navbar--navy .site-navbar-subtitle, .site-navbar.site-navbar--navy .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--navy .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--navy .site-navbar-item, .site-navbar.site-navbar--navy .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--green {
    background-color: #93d260;
    color: #fff
}

    .site-navbar.site-navbar--green .site-navbar-subtitle, .site-navbar.site-navbar--green .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--green .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--green .site-navbar-item, .site-navbar.site-navbar--green .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--teal {
    background-color: #60d2b6;
    color: #fff
}

    .site-navbar.site-navbar--teal .site-navbar-subtitle, .site-navbar.site-navbar--teal .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--teal .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--teal .site-navbar-item, .site-navbar.site-navbar--teal .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--blue {
    background-color: #4e91e4;
    color: #fff
}

    .site-navbar.site-navbar--blue .site-navbar-subtitle, .site-navbar.site-navbar--blue .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--blue .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--blue .site-navbar-item, .site-navbar.site-navbar--blue .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--purple {
    background-color: #ac94e8;
    color: #fff
}

    .site-navbar.site-navbar--purple .site-navbar-subtitle, .site-navbar.site-navbar--purple .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--purple .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--purple .site-navbar-item, .site-navbar.site-navbar--purple .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--pink {
    background-color: #e77eb8;
    color: #fff
}

    .site-navbar.site-navbar--pink .site-navbar-subtitle, .site-navbar.site-navbar--pink .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--pink .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--pink .site-navbar-item, .site-navbar.site-navbar--pink .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--red {
    background-color: #ee675d;
    color: #fff
}

    .site-navbar.site-navbar--red .site-navbar-subtitle, .site-navbar.site-navbar--red .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--red .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--red .site-navbar-item, .site-navbar.site-navbar--red .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--orange {
    background-color: #f78055;
    color: #fff
}

    .site-navbar.site-navbar--orange .site-navbar-subtitle, .site-navbar.site-navbar--orange .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--orange .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--orange .site-navbar-item, .site-navbar.site-navbar--orange .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--yellow {
    background-color: #fbc850;
    color: #fff
}

    .site-navbar.site-navbar--yellow .site-navbar-subtitle, .site-navbar.site-navbar--yellow .site-navbar-title {
        color: #fff
    }

        .site-navbar.site-navbar--yellow .site-navbar-subtitle::before {
            background-color: #fff
        }

    .site-navbar.site-navbar--yellow .site-navbar-item, .site-navbar.site-navbar--yellow .site-navbar-link {
        color: #fff
    }

.site-navbar.site-navbar--grey {
    background-color: #5b160b;
    color: #a33320
}

    .site-navbar.site-navbar--grey .site-navbar-subtitle, .site-navbar.site-navbar--grey .site-navbar-title {
        color: #a33320
    }

        .site-navbar.site-navbar--grey .site-navbar-subtitle::before {
            background-color: #a33320
        }

    .site-navbar.site-navbar--grey .site-navbar-item, .site-navbar.site-navbar--grey .site-navbar-link {
        color: #a33320
    }

.site-checkbox {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin: 8px 10px
}

    .site-checkbox label {
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition: all .3s;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        background: #5b160b
    }

        .site-checkbox label:after {
            content: "";
            opacity: .2;
            width: 8px;
            height: 4px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            transition: all .3s;
            position: absolute;
            top: 5px;
            left: 4px;
            background: 0 0;
            border: 2px solid #a33320;
            border-top: 0;
            border-right: 0
        }

        .site-checkbox label:hover::after {
            opacity: .5
        }

    .site-checkbox input[type=checkbox]:checked + label:after {
        opacity: 1;
        border-color: #fff
    }

    .site-checkbox input[type=checkbox]:checked + label {
        background-color: #93d260
    }

.site-field, .site-form-field {
    display: block;
    vertical-align: top;
    margin-bottom: 15px;
    margin-top: 0
}

.site-field-label, .site-form-field-label {
    display: block;
    vertical-align: top;
    font-weight: 700;
    font-size: 14px;
    color: #a33320;
    margin-top: 0;
    margin-bottom: 5px
}

.site-field-helper, .site-form-field-helper {
    display: block;
    vertical-align: top;
    font-weight: 400;
    font-size: 13px;
    color: #879aab;
    margin-top: 5px;
    margin-bottom: 15px
}

.site-form {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 15px
}

.site-form-title {
    display: block;
    width: 100%;
    vertical-align: top;
    font-weight: 700;
    font-size: 25px;
    color: #a33320;
    margin-bottom: 10px
}

.site-form-detail {
    display: block;
    width: 100%;
    vertical-align: top;
    font-size: 15px;
    color: #a33320;
    margin-bottom: 20px
}

.site-form-rule {
    display: block;
    width: 100%;
    border-bottom: 1px solid #cbd8e6;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 0
}

.site-input, .site-label, .site-radio {
    display: inline-block;
    vertical-align: top
}

.site-input {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #a33320;
    border: 0;
    border-radius: 5px;
    outline: 0;
    background-color: #5b160b;
    padding: 0 10px
}

.site-input--fluid {
    width: 100%
}

.site-input--light {
    background-color: #fff
}

.site-input--dark {
    background-color: #a33320;
    color: #fff
}

.site-label {
    min-height: 34px;
    line-height: 34px;
    font-size: 15px;
    color: #a33320;
    font-weight: 700;
    padding-right: 10px;
    padding-left: 0
}

.site-label--light {
    color: #fff
}

.site-label--dark {
    color: #a33320
}

.site-radio {
    width: 18px;
    height: 18px;
    position: relative;
    margin: 8px;
    cursor: pointer
}

    .site-radio > label, .site-radio > label:after {
        position: absolute;
        display: block;
        border-radius: 100px
    }

    .site-radio > label {
        width: calc(18px - 2 * 3px);
        height: calc(18px - 2 * 3px);
        top: 0;
        left: 0;
        border-width: 3px;
        border-style: solid;
        border-color: #5b160b;
        transition: border-color .3s ease;
        cursor: pointer
    }

        .site-radio > label:after {
            content: "";
            width: 6px;
            height: 6px;
            background-color: transparent;
            top: calc(50% - 6px / 2);
            left: calc(50% - 6px / 2);
            transition: all .3s ease
        }

    .site-radio:hover > label:after {
        background-color: #5b160b
    }

    .site-radio input[type=radio]:checked + label:after {
        background-color: #93d260
    }

    .site-radio input[type=radio]:checked + label {
        border-color: #93d260
    }

.site-select, .site-textarea {
    font-size: 14px;
    border: 0;
    vertical-align: top;
    outline: 0
}

.site-select {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-weight: 400;
    color: #a33320;
    border-radius: 5px;
    background-color: #5b160b;
    padding: 0 10px
}

.site-select--fluid {
    width: 100%
}

.site-select--light {
    background-color: #fff
}

.site-select--dark {
    background-color: #a33320;
    color: #fff
}

.site-switch {
    display: inline-block;
    width: 32px;
    height: 18px;
    position: relative;
    border-radius: 50px;
    vertical-align: top;
    margin: 8px 10px
}

    .site-switch label {
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50px;
        transition: all .3s ease;
        cursor: pointer;
        background: #fff;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 2
    }

    .site-switch div {
        width: 100%;
        height: 100%;
        background: #879aab;
        border-radius: 50px;
        transition: all .3s;
        position: absolute;
        top: 0;
        z-index: 1
    }

.overlay, .search-btn, .sticky {
    position: fixed
}

.site-switch input[type=checkbox]:checked ~ div {
    background: #93d260
}

.site-switch input[type=checkbox]:checked ~ label {
    left: 16px
}

.site-textarea {
    display: inline-block;
    line-height: 20px;
    color: #a33320;
    padding: 10px;
    border-radius: 5px;
    background-color: #5b160b
}

.site-textarea--fluid {
    width: 100%
}

.site-grid {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.site-grid-row {
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

    .site-grid-row:after {
        content: " ";
        clear: both;
        display: table;
        line-height: 0
    }

.site-grid-col {
    display: inline-block;
    vertical-align: top;
    float: left;
    padding: 12px
}

.site-content--fluid, .site-jumbotron--fluid {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px)
}

.site-grid-col--1 {
    width: calc(8.33% - 2 * 12px)
}

.site-grid-col--2 {
    width: calc(16.66% - 2 * 12px)
}

.site-grid-col--3 {
    width: calc(24.99% - 2 * 12px)
}

.site-grid-col--4 {
    width: calc(33.33% - 2 * 12px)
}

.site-grid-col--5 {
    width: calc(41.66% - 2 * 12px)
}

.site-grid-col--6 {
    width: calc(49.99% - 2 * 12px)
}

.site-grid-col--7 {
    width: calc(58.33% - 2 * 12px)
}

.site-grid-col--8 {
    width: calc(66.66% - 2 * 12px)
}

.site-grid-col--9 {
    width: calc(74.99% - 2 * 12px)
}

.site-grid-col--10 {
    width: calc(83.33% - 2 * 12px)
}

.site-grid-col--11 {
    width: calc(91.66% - 2 * 12px)
}

.site-grid-col--12 {
    width: calc(99.99% - 2 * 12px)
}

.site-jumbotron-detail, .site-jumbotron-subtitle, .site-jumbotron-title {
    display: block;
    text-decoration: none
}

.site-jumbotron-title {
    font-weight: 700;
    font-size: 40px
}

.site-jumbotron-subtitle {
    font-size: 22px;
    opacity: .7
}

.site-jumbotron-detail {
    line-height: 22px;
    font-size: 16px;
    opacity: .5;
    margin-top: 15px;
    margin-bottom: 15px
}

.site-jumbotron-subtitle + .site-jumbotron-detail, .site-jumbotron-title + .site-jumbotron-detail, .site-jumbotron-title + .site-jumbotron-subtitle {
    margin-top: 15px
}

.site-jumbotron.site-jumbotron--primary {
    background-color: #4e91e4;
    color: #fff
}

.site-jumbotron.site-jumbotron--success {
    background-color: #93d260;
    color: #fff
}

.site-jumbotron.site-jumbotron--warning {
    background-color: #fbc850;
    color: #fff
}

.site-jumbotron.site-jumbotron--error {
    background-color: #ee675d;
    color: #fff
}

.site-jumbotron.site-jumbotron--dark {
    background-color: #a33320;
    color: #fff
}

.site-jumbotron.site-jumbotron--light {
    background-color: #5b160b;
    color: #a33320
}

.site-jumbotron.site-jumbotron--navy {
    background-color: #a33320;
    color: #fff
}

.site-jumbotron.site-jumbotron--green {
    background-color: #93d260;
    color: #fff
}

.site-jumbotron.site-jumbotron--teal {
    background-color: #60d2b6;
    color: #fff
}

.site-jumbotron.site-jumbotron--blue {
    background-color: #4e91e4;
    color: #fff
}

.site-jumbotron.site-jumbotron--purple {
    background-color: #ac94e8;
    color: #fff
}

.site-jumbotron.site-jumbotron--pink {
    background-color: #e77eb8;
    color: #fff
}

.site-jumbotron.site-jumbotron--red {
    background-color: #ee675d;
    color: #fff
}

.site-jumbotron.site-jumbotron--orange {
    background-color: #f78055;
    color: #fff
}

.site-jumbotron.site-jumbotron--yellow {
    background-color: #fbc850;
    color: #fff
}

.site-jumbotron.site-jumbotron--grey {
    background-color: #5b160b;
    color: #a33320
}

.site-footer {
    display: block;
    padding-top: 50px;
    padding-bottom: 80px;
}

.site-footer--extra-small {
    max-width: 480px;
    padding-left: calc(50% - 480px / 2);
    padding-right: calc(50% - 480px / 2)
}

.site-footer--small {
    max-width: 600px;
    padding-left: calc(50% - 600px / 2);
    padding-right: calc(50% - 600px / 2)
}

.site-footer--medium {
    max-width: 768px;
    padding-left: calc(50% - 768px / 2);
    padding-right: calc(50% - 768px / 2)
}

.site-footer--large {
    max-width: 960px;
    padding-left: calc(50% - 960px / 2);
    padding-right: calc(50% - 960px / 2)
}

.site-footer--extra-large {
    max-width: 1280px;
    padding-left: calc(50% - 1280px / 2);
    padding-right: calc(50% - 1280px / 2)
}

.site-footer--fluid {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px
}

.site-footer.site-footer--primary {
    background-color: #4e91e4;
    color: #fff
}

.site-footer.site-footer--success {
    background-color: #93d260;
    color: #fff
}

.site-footer.site-footer--warning {
    background-color: #fbc850;
    color: #fff
}

.site-footer.site-footer--error {
    background-color: #ee675d;
    color: #fff
}

.site-footer.site-footer--dark {
    background-color: #242a3c;
    color: #fff
}

.site-footer.site-footer--light {
    background-color: #5b160b;
    color: #a33320
}

.site-footer.site-footer--navy {
    background-color: #a33320;
    color: #fff
}

.site-footer.site-footer--green {
    background-color: #93d260;
    color: #fff
}

.site-footer.site-footer--teal {
    background-color: #60d2b6;
    color: #fff
}

.site-footer.site-footer--blue {
    background-color: #4e91e4;
    color: #fff
}

.site-footer.site-footer--purple {
    background-color: #ac94e8;
    color: #fff
}

.site-footer.site-footer--pink {
    background-color: #e77eb8;
    color: #fff
}

.site-footer.site-footer--red {
    background-color: #ee675d;
    color: #fff
}

.site-footer.site-footer--orange {
    background-color: #f78055;
    color: #fff
}

.site-footer.site-footer--yellow {
    background-color: #fbc850;
    color: #fff
}

.site-footer.site-footer--grey {
    background-color: #5b160b;
    color: #a33320
}

.site-jumbotron {
    display: block;
    padding-top: 85px;
    padding-bottom: 85px
}

.site-jumbotron--extra-small {
    max-width: 480px;
    padding-left: calc(50% - 480px / 2);
    padding-right: calc(50% - 480px / 2)
}

.site-jumbotron--small {
    max-width: 600px;
    padding-left: calc(50% - 600px / 2);
    padding-right: calc(50% - 600px / 2)
}

.site-navbar {
    display: block;
    z-index: 3;
    height: 34px;
    padding-top: 15px;
    padding-bottom: 15px
}

.site-navbar--extra-small {
    max-width: 480px;
    padding-left: calc(50% - 480px / 2);
    padding-right: calc(50% - 480px / 2)
}

.site-content--small {
    max-width: 600px;
    padding-left: calc(50% - 600px / 2);
    padding-right: calc(50% - 600px / 2)
}

.site-content--medium {
    max-width: 768px;
    padding-left: calc(50% - 768px / 2);
    padding-right: calc(50% - 768px / 2)
}

.site-content--large {
    max-width: 960px;
    padding-left: calc(50% - 960px / 2);
    padding-right: calc(50% - 960px / 2)
}

.site-content--extra-large {
    max-width: 1280px;
    padding-left: calc(50% - 1280px / 2);
    padding-right: calc(50% - 1280px / 2)
}

.site-jumbotron--medium {
    max-width: 768px;
    padding-left: calc(50% - 768px / 2);
    padding-right: calc(50% - 768px / 2)
}

.site-jumbotron--large {
    max-width: 960px;
    padding-left: calc(50% - 960px / 2);
    padding-right: calc(50% - 960px / 2)
}

.site-jumbotron--extra-large {
    max-width: 1280px;
    padding-left: calc(50% - 1280px / 2);
    padding-right: calc(50% - 1280px / 2)
}

.site-navbar--small {
    max-width: 600px;
    padding-left: calc(50% - 600px / 2);
    padding-right: calc(50% - 600px / 2)
}

.site-navbar--medium {
    max-width: 768px;
    padding-left: calc(50% - 768px / 2);
    padding-right: calc(50% - 768px / 2)
}

.site-navbar--large {
    max-width: 960px;
    padding-left: calc(50% - 960px / 2);
    padding-right: calc(50% - 960px / 2)
}

.site-navbar--extra-large {
    max-width: 1280px;
    padding-left: calc(50% - 1280px / 2);
    padding-right: calc(50% - 1280px / 2);
    position: relative
}

@media screen and (max-width:320px) {
    .site-navbar-subtitle {
        display: none
    }

    nav ul li {
        display: block
    }

    .site-table-cell {
        font-size: 11px;
        padding: 0
    }

    .site-btn {
        font-size: 13px
    }
}

@media screen and (max-width:480px) {
    .site-navbar-subtitle {
        display: none
    }

    .site-content--extra-small {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px
    }

    .big-icon {
        width: 160px;
        display: block;
        padding-left: 20px;
        float: none
    }

    .site-footer--extra-small, .site-jumbotron--extra-small, .site-navbar--extra-small {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (max-width:600px) {
    .site-content--small, .site-footer--small, .site-jumbotron--small, .site-navbar--small {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (max-width:768px) {
    .site-content--medium, .site-footer--medium, .site-jumbotron--medium, .site-navbar--medium {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px
    }

    .site-jumbotron-subtitle {
        font-size: 1em;
        line-height: 1.5em;
    }

    h1 {
        font-size: 14px;
        line-height: 16px
    }
}

@media screen and (max-width:960px) {
    .site-content--large {
        width: 100%
    }

    .wrapper .img-circle-big {
        float: none;
        display: block;
        margin: 0 auto 10px;
        width: auto
    }

    .wrapper-list {
        text-align: center;
        float: none;
        padding-top: 15px;
        display: block;
        margin: 0 !important;
        max-width: 100%
    }

    .wrapper ul {
        float: none
    }

    h1 {
        font-size: 20px;
        line-height: 22px
    }

    .site-footer--large, .site-jumbotron--large, .site-navbar--large {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (max-width:1280px) {
    .site-content--extra-large {
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px
    }

    h1 {
        font-size: 1em;
        line-height: 1em;
    }

    .site-footer--extra-large, .site-jumbotron--extra-large, .site-navbar--extra-large {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width:1280px) {
    .site-grid-col--xl-1, .site-grid-col-xl--1 {
        width: calc(8.33% - 2 * 12px)
    }

    .site-grid-col--xl-2, .site-grid-col-xl--2 {
        width: calc(16.66% - 2 * 12px)
    }

    .site-grid-col--xl-3, .site-grid-col-xl--3 {
        width: calc(24.99% - 2 * 12px)
    }

    .site-grid-col--xl-4, .site-grid-col-xl--4 {
        width: calc(33.33% - 2 * 12px)
    }

    .site-grid-col--xl-5, .site-grid-col-xl--5 {
        width: calc(41.66% - 2 * 12px)
    }

    .site-grid-col--xl-6, .site-grid-col-xl--6 {
        width: calc(49.99% - 2 * 12px)
    }

    .site-grid-col--xl-7, .site-grid-col-xl--7 {
        width: calc(58.33% - 2 * 12px)
    }

    .site-grid-col--xl-8, .site-grid-col-xl--8 {
        width: calc(66.66% - 2 * 12px)
    }

    .site-grid-col--xl-9, .site-grid-col-xl--9 {
        width: calc(74.99% - 2 * 12px)
    }

    .site-grid-col--xl-10, .site-grid-col-xl--10 {
        width: calc(83.33% - 2 * 12px)
    }

    .site-grid-col--xl-11, .site-grid-col-xl--11 {
        width: calc(91.66% - 2 * 12px)
    }

    .site-grid-col--xl-12, .site-grid-col-xl--12 {
        width: calc(99.99% - 2 * 12px)
    }

    .site-grid-col--xl-hide {
        display: none !important
    }
}

@media (max-width:960px) {
    .site-grid-col--lg-1, .site-grid-col-lg--1 {
        width: calc(8.33% - 2 * 12px)
    }

    .site-grid-col--lg-2, .site-grid-col-lg--2 {
        width: calc(16.66% - 2 * 12px)
    }

    .site-grid-col--lg-3, .site-grid-col-lg--3 {
        width: calc(24.99% - 2 * 12px)
    }

    .site-grid-col--lg-4, .site-grid-col-lg--4 {
        width: calc(33.33% - 2 * 12px)
    }

    .site-grid-col--lg-5, .site-grid-col-lg--5 {
        width: calc(41.66% - 2 * 12px)
    }

    .site-grid-col--lg-6, .site-grid-col-lg--6 {
        width: calc(49.99% - 2 * 12px)
    }

    .site-grid-col--lg-7, .site-grid-col-lg--7 {
        width: calc(58.33% - 2 * 12px)
    }

    .site-grid-col--lg-8, .site-grid-col-lg--8 {
        width: calc(66.66% - 2 * 12px)
    }

    .site-grid-col--lg-9, .site-grid-col-lg--9 {
        width: calc(74.99% - 2 * 12px)
    }

    .site-grid-col--lg-10, .site-grid-col-lg--10 {
        width: calc(83.33% - 2 * 12px)
    }

    .site-grid-col--lg-11, .site-grid-col-lg--11 {
        width: calc(91.66% - 2 * 12px)
    }

    .site-grid-col--lg-12, .site-grid-col-lg--12 {
        width: calc(99.99% - 2 * 12px)
    }

    .site-grid-col--lg-hide {
        display: none !important
    }
}

@media (max-width:768px) {
    .site-grid-col--md-1, .site-grid-col-md--1 {
        width: calc(8.33% - 2 * 12px)
    }

    .site-grid-col--md-2, .site-grid-col-md--2 {
        width: calc(16.66% - 2 * 12px)
    }

    .site-grid-col--md-3, .site-grid-col-md--3 {
        width: calc(24.99% - 2 * 12px)
    }

    .site-grid-col--md-4, .site-grid-col-md--4 {
        width: calc(33.33% - 2 * 12px)
    }

    .site-grid-col--md-5, .site-grid-col-md--5 {
        width: calc(41.66% - 2 * 12px)
    }

    .site-grid-col--md-6, .site-grid-col-md--6 {
        width: calc(49.99% - 2 * 12px)
    }

    .site-grid-col--md-7, .site-grid-col-md--7 {
        width: calc(58.33% - 2 * 12px)
    }

    .site-grid-col--md-8, .site-grid-col-md--8 {
        width: calc(66.66% - 2 * 12px)
    }

    .site-grid-col--md-9, .site-grid-col-md--9 {
        width: calc(74.99% - 2 * 12px)
    }

    .site-grid-col--md-10, .site-grid-col-md--10 {
        width: calc(83.33% - 2 * 12px)
    }

    .site-grid-col--md-11, .site-grid-col-md--11 {
        width: calc(91.66% - 2 * 12px)
    }

    .site-grid-col--md-12, .site-grid-col-md--12 {
        width: calc(99.99% - 2 * 12px)
    }

    .site-grid-col--md-hide {
        display: none !important
    }

    .sd-group-item {
        width: calc(100% - 30px)
    }
}

@media (max-width:600px) {
    .site-grid-col--sm-1, .site-grid-col-sm--1 {
        width: calc(8.33% - 2 * 12px)
    }

    .site-grid-col--sm-2, .site-grid-col-sm--2 {
        width: calc(16.66% - 2 * 12px)
    }

    .site-grid-col--sm-3, .site-grid-col-sm--3 {
        width: calc(24.99% - 2 * 12px)
    }

    .site-grid-col--sm-4, .site-grid-col-sm--4 {
        width: calc(33.33% - 2 * 12px)
    }

    .site-grid-col--sm-5, .site-grid-col-sm--5 {
        width: calc(41.66% - 2 * 12px)
    }

    .site-grid-col--sm-6, .site-grid-col-sm--6 {
        width: calc(49.99% - 2 * 12px)
    }

    .site-grid-col--sm-7, .site-grid-col-sm--7 {
        width: calc(58.33% - 2 * 12px)
    }

    .site-grid-col--sm-8, .site-grid-col-sm--8 {
        width: calc(66.66% - 2 * 12px)
    }

    .site-grid-col--sm-9, .site-grid-col-sm--9 {
        width: calc(74.99% - 2 * 12px)
    }

    .site-grid-col--sm-10, .site-grid-col-sm--10 {
        width: calc(83.33% - 2 * 12px)
    }

    .site-grid-col--sm-11, .site-grid-col-sm--11 {
        width: calc(91.66% - 2 * 12px)
    }

    .site-grid-col--sm-12, .site-grid-col-sm--12 {
        width: calc(99.99% - 2 * 12px)
    }

    .site-grid-col--sm-hide {
        display: none !important
    }
}

@media (max-width:480px) {
    .site-grid-col--xs-1, .site-grid-col-xs--1 {
        width: calc(8.33% - 2 * 12px)
    }

    .site-grid-col--xs-2, .site-grid-col-xs--2 {
        width: calc(16.66% - 2 * 12px)
    }

    .site-grid-col--xs-3, .site-grid-col-xs--3 {
        width: calc(24.99% - 2 * 12px)
    }

    .site-grid-col--xs-4, .site-grid-col-xs--4 {
        width: calc(33.33% - 2 * 12px)
    }

    .site-grid-col--xs-5, .site-grid-col-xs--5 {
        width: calc(41.66% - 2 * 12px)
    }

    .site-grid-col--xs-6, .site-grid-col-xs--6 {
        width: calc(49.99% - 2 * 12px)
    }

    .site-grid-col--xs-7, .site-grid-col-xs--7 {
        width: calc(58.33% - 2 * 12px)
    }

    .site-grid-col--xs-8, .site-grid-col-xs--8 {
        width: calc(66.66% - 2 * 12px)
    }

    .site-grid-col--xs-9, .site-grid-col-xs--9 {
        width: calc(74.99% - 2 * 12px)
    }

    .site-grid-col--xs-10, .site-grid-col-xs--10 {
        width: calc(83.33% - 2 * 12px)
    }

    .site-grid-col--xs-11, .site-grid-col-xs--11 {
        width: calc(91.66% - 2 * 12px)
    }

    .site-grid-col--xs-12, .site-grid-col-xs--12 {
        width: calc(99.99% - 2 * 12px)
    }

    .site-grid-col--xs-hide {
        display: none !important
    }
}

.site--color-primary {
    color: #4e91e4
}

.site--bg-primary {
    background-color: #4e91e4
}

.site--color-success {
    color: #93d260
}

.site--bg-success {
    background-color: #93d260
}

.site--color-warning {
    color: #fbc850
}

.site--bg-warning {
    background-color: #fbc850
}

.site--color-error {
    color: #ee675d
}

.site--bg-error {
    background-color: #ee675d
}

.site--color-dark {
    color: #a33320
}

.site--bg-dark {
    background-color: #3e465a
}

.site--color-light {
    color: #969696
}

.site--bg-light {
    background-color: #5b160b
}

.site--color-white {
    color: #fff
}

.share a, .share a:active, .share a:focus, .share a:hover {
    color: #fff !important
}

.site--bg-white {
    background-color: #fff
}

.site--display-none {
    display: none !important
}

.site--display-block {
    display: block !important
}

.site--display-inline {
    display: inline !important
}

.site--display-inline-block {
    display: inline-block !important
}

.site--display-table {
    display: table !important
}

.site--display-table-cell {
    display: table-cell !important
}

.site--display-table-row {
    display: table-row !important
}

.site--display-flex {
    display: flex !important
}

.site--display-inline-flex {
    display: inline-flex !important
}

.site--float-left {
    float: left !important
}

.site--float-right {
    float: right !important
}

.site--float-none {
    float: none !important
}

@media (max-width:1280px) {
    .site--display-xl-none {
        display: none !important
    }

    .site--display-xl-block {
        display: block !important
    }

    .site--display-xl-inline {
        display: inline !important
    }

    .site--display-xl-inline-block {
        display: inline-block !important
    }

    .site--display-xl-table {
        display: table !important
    }

    .site--display-xl-table-cell {
        display: table-cell !important
    }

    .site--display-xl-table-row {
        display: table-row !important
    }

    .site--display-xl-flex {
        display: flex !important
    }

    .site--display-xl-inline-flex {
        display: inline-flex !important
    }

    .site--float-xl-left {
        float: left !important
    }

    .site--float-xl-right {
        float: right !important
    }

    .site--float-xl-none {
        float: none !important
    }
}

@media (max-width:960px) {
    .site--display-lg-none {
        display: none !important
    }

    .site--display-lg-block {
        display: block !important
    }

    .site--display-lg-inline {
        display: inline !important
    }

    .site--display-lg-inline-block {
        display: inline-block !important
    }

    .site--display-lg-table {
        display: table !important
    }

    .site--display-lg-table-cell {
        display: table-cell !important
    }

    .site--display-lg-table-row {
        display: table-row !important
    }

    .site--display-lg-flex {
        display: flex !important
    }

    .site--display-lg-inline-flex {
        display: inline-flex !important
    }

    .site--float-lg-left {
        float: left !important
    }

    .site--float-lg-right {
        float: right !important
    }

    .site--float-lg-none {
        float: none !important
    }
}

@media (max-width:768px) {
    .site--display-md-none {
        display: none !important
    }

    .site--display-md-block {
        display: block !important
    }

    .site--display-md-inline {
        display: inline !important
    }

    .site--display-md-inline-block {
        display: inline-block !important
    }

    .site--display-md-table {
        display: table !important
    }

    .site--display-md-table-cell {
        display: table-cell !important
    }

    .site--display-md-table-row {
        display: table-row !important
    }

    .site--display-md-flex {
        display: flex !important
    }

    .site--display-md-inline-flex {
        display: inline-flex !important
    }

    .site--float-md-left {
        float: left !important
    }

    .site--float-md-right {
        float: right !important
    }

    .site--float-md-none {
        float: none !important
    }
}

@media (max-width:600px) {
    .site--display-sm-none {
        display: none !important
    }

    .site--display-sm-block {
        display: block !important
    }

    .site--display-sm-inline {
        display: inline !important
    }

    .site--display-sm-inline-block {
        display: inline-block !important
    }

    .site--display-sm-table {
        display: table !important
    }

    .site--display-sm-table-cell {
        display: table-cell !important
    }

    .site--display-sm-table-row {
        display: table-row !important
    }

    .site--display-sm-flex {
        display: flex !important
    }

    .site--display-sm-inline-flex {
        display: inline-flex !important
    }

    .site--float-sm-left {
        float: left !important
    }

    .site--float-sm-right {
        float: right !important
    }

    .site--float-sm-none {
        float: none !important
    }
}

@media (max-width:480px) {
    .site--display-xs-none {
        display: none !important
    }

    .site--display-xs-block {
        display: block !important
    }

    .site--display-xs-inline {
        display: inline !important
    }

    .site--display-xs-inline-block {
        display: inline-block !important
    }

    .site--display-xs-table {
        display: table !important
    }

    .site--display-xs-table-cell {
        display: table-cell !important
    }

    .site--display-xs-table-row {
        display: table-row !important
    }

    .site--display-xs-flex {
        display: flex !important
    }

    .site--display-xs-inline-flex {
        display: inline-flex !important
    }

    .site--float-xs-left {
        float: left !important
    }

    .site--float-xs-right {
        float: right !important
    }

    .site--float-xs-none {
        float: none !important
    }
}

.site--clearfix::after {
    display: block;
    content: "";
    clear: both
}

.site--lh-normal {
    line-height: 22px !important
}

.site--lh-condensed {
    line-height: 18px !important
}

.site--width-0 {
    width: 0% !important
}

.site--mwidth-0 {
    max-width: 0% !important
}

.site--height-0 {
    height: 0% !important
}

.site--mheight-0 {
    max-height: 0% !important
}

.site--width-5 {
    width: 5% !important
}

.site--width-25 {
    width: 25% !important
}

.site--mwidth-25 {
    max-width: 25% !important
}

.site--height-25 {
    height: 25% !important
}

.site--mheight-25 {
    max-height: 25% !important
}

.site--width-50 {
    width: 50% !important
}

.site--mwidth-50 {
    max-width: 50% !important
}

.site--height-50 {
    height: 50% !important
}

.site--mheight-50 {
    max-height: 50% !important
}

.site--width-75 {
    width: 75% !important
}

.site--mwidth-75 {
    max-width: 75% !important
}

.site--height-75 {
    height: 75% !important
}

.site--mheight-75 {
    max-height: 75% !important
}

.site--width-100 {
    width: 100% !important
}

.site--mwidth-100 {
    max-width: 100% !important
}

.site--height-100 {
    height: 100% !important
}

.site--mheight-100 {
    max-height: 100% !important
}

.site--text-justify {
    text-align: justify !important
}

.site--text-left {
    text-align: left !important
}

.site--text-center {
    text-align: center !important
}

.site--text-right {
    text-align: right !important
}

.site--text-uppercase {
    text-transform: uppercase !important
}

.site--text-lowercase {
    text-transform: lowercase !important
}

.site--text-capitalize {
    text-transform: capitalize !important
}

.site--text-bold {
    font-weight: 700 !important
}

.site--text-italic {
    font-style: italic !important
}

.site--text-normal {
    font-weight: 400 !important
}

.site--text-small {
    font-size: 13px !important
}

@font-face {
    font-family: themify;
    src: url(../fonts/themify.woff?-fvbane) format('woff');
    font-weight: 400;
    font-style: normal
}

[class*=" ti-"], [class^=ti-] {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1
}

.ti-bolt:before {
    content: "\e652";
}

.ti-stats-up:before {
    content: "\e673";
}

.ti-unlock:before {
    content: "\e603";
}

.ti-crown:before {
    content: "\e642";
}

.ti-star:before {
    content: "\e60a"
}

.ti-angle-down:before {
    content: "\e64b"
}

.ti-layers:before {
    content: "\e62f"
}

.ti-user:before {
    content: "\e602"
}

.ti-search:before {
    content: "\e610"
}

.ti-bar-chart-alt:before {
    content: "\e6bb"
}

.ti-instagram:before {
    content: "\e73d"
}

.ti-twitter:before {
    content: "\e72a"
}

.ti-facebook:before {
    content: "\e741"
}

.ti-pinterest:before {
    content: "\e731"
}

.ti-world:before {
    content: "\e665"
}

.ti-flag-alt-2:before {
    content: "\e63c"
}

.ti-sharethis:before {
    content: "\e750"
}

.ti-time:before {
    content: "\e72b"
}

.ti-arrow-top-right:before {
    content: "\e65a"
}

.ti-info-alt:before {
    content: "\e717"
}

.ti-arrow-up:before {
    content: "\e627"
}

.ti-close:before {
    content: "\e646"
}

.ti-reddit:before {
    content: "\e752"
}

.ti-google:before {
    content: "\e73e"
}

.ti-linkedin:before {
    content: "\e735"
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate
}

    .btn-group-justified > .btn, .btn-group-justified > .btn-group {
        float: none;
        display: table-cell;
        width: 1%;
        text-decoration: none;
        padding-top: 14px
    }

.btn-block, .grid:after {
    display: block
}

.btn-block, .btn-group-justified > .btn-group .btn {
    width: 100%
}

.btn-group-justified > .btn-group .dropdown-menu {
    left: auto
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.btn, .btn-group-sm > .btn, .btn-group-xs > .btn, .btn-sm, .btn-xs {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px
}

.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px
}

.btn-block + .btn-block {
    margin-top: 5px
}

.btn {
    height: 30px;
    padding: 5px 10px
}

share {
    margin-bottom: 5px
}

.share a {
    font-size: 18px !important;
    border-radius: 0 !important;
    text-align: center
}

.btn-facebook {
    background: #365397;
    transition: .2s;
    float: left
}

    .btn-facebook:hover {
        background: #2f4782;
        transition: .2s
    }

.btn-twitter {
    background: #63cdf1;
    transition: .2s;
    float: left
}

    .btn-twitter:hover {
        background: #21b9eb;
        transition: .2s
    }

.btn-pinterest {
    background: #DB0813;
    transition: .2s;
    float: left
}

    .btn-pinterest:hover {
        background: #ee3939;
        transition: .2s
    }

.btn-linkedin {
    background: #90cadd;
    transition: .2s;
    float: left
}

    .btn-linkedin:hover {
        background: #50abc9;
        transition: .2s
    }

.btn-gplus {
    background: #DB4437;
    transition: .2s;
    float: left
}

    .btn-gplus:hover {
        background: #ee3939;
        transition: .2s
    }

.grid:after {
    content: '';
    clear: both
}

.grid-col {
    float: left;
    width: 49%;
    margin-right: 2%
}

.grid-col--4 {
    margin-right: 0
}

.grid-col--2, .grid-col--3 {
    display: none
}

@media (min-width:220px) {
    .grid-col {
        width: 99%
    }

    .grid-col--1 {
        display: block
    }
}

@media (min-width:768px) {
    .grid-col {
        width: 48%
    }

    .grid-col--2 {
        display: block
    }
}

@media (min-width:1200px) {
    .grid-col {
        width: 31%
    }

    .grid-col--2, .grid-col--3 {
        display: block
    }
}

.login, .overlay {
    display: none
}

.grid-item {
    margin-bottom: 20px;
    width:31.33%;
    float:left;
    margin-right:2%;
}

.grid-item--a {
    height: 80px
}

.grid-item--b {
    height: 140px
}

.grid-item--c {
    height: 300px
}

#stickybar {
    background-color: #ffffff;
    z-index: 100;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d5d9de;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
    width: calc(100% - 10px)
}

.sticky {
    top: 0;
    width: 100%
}

    .sticky + .content {
        padding-top: 60px
    }

.search-btn {
    top: 75px;
    right: 5px;
    padding: 10px;
    width: 50px;
    height: 55px !important
}

.btn-search {
    margin-right: 0 !important
}

.overlay {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    background-color: rgba(0,0,0,.9)
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 100%;
    text-align: center
}

@media screen and (max-width:480px) {
    .adsxl {
        position: fixed;
        top: -75px;
        z-index: 900;
        width: 100%;
        text-align: center;
        display: block;
        margin: 0 auto
    }
}



/*Search Result*/
.search-result{width: 100%;}
.search-result::after{clear: both; display: table; content: "";}
.search-result .instagramHashtagList{width: 28%; margin-right: 2%; float: left; }
.search-result .instagramHashtagSearch h3{color:#ce3333; font-size: 25px; border-bottom: 2px solid #ce3333; margin-bottom: 10px;}
.search-result .searchTagBox a{display: block; margin-bottom: 10px;}
.search-result .searchTagBox a:hover{background: #ce3333; padding-left: 5px; box-sizing: border-box; }
.search-result .searchTagBox a .hashtagName{float: left; font-size: 14px; color:#222; font-weight: 500; margin:0;}
.search-result .searchTagBox a:hover .hashtagName{color:#fff;}
.search-result .searchTagBox a .hashtagCount{float: right; font-size: 12px; padding: 2px 5px; background: #ce3333; color:#fff; border-radius: 5px; box-sizing: border-box; margin:0;}
.search-result .searchTagBox a::after{display: table; clear: both; content:"";}
.search-result .instagramUserList{width: 70%; float: left;}
.search-result .instagramUserSearch h3{color:#ce3333; font-size: 25px; border-bottom: 2px solid #ce3333; margin-bottom: 10px;}
.search-result .siteSearchUserBox{padding: 5px; box-sizing: border-box;}
.search-result .siteBox-3:nth-child(odd){background:rgba(0,0,0,.03); margin-bottom: 5px;}
.search-result .siteBox-3:nth-child(even){box-shadow: 1px 1px 2px rgba(0,0,0,.3);margin-bottom: 5px;}
.search-result .siteBox-3:last-child{margin-bottom: 20px;}
.search-result .siteSearchUserBox a{display: block; height: 80px;}
.search-result .siteSearchUserBox p{margin:0}
.search-result .siteSearchUserBox a:hover .fullname{color:#ce3333;}
.search-result .siteSearchUserBox a:hover .username{color:#ce3333;}
.search-result .siteSearchUserBox a img{width: 80px; float: left; height: 80px; border-radius: 50%; margin-right: 8px;}
.search-result .siteSearchUserBox a p{width: 100%; padding-top: 15px;     float: left;
    width: 72%;
    text-align: left;}
.search-result .siteSearchUserBox a p:last-child{padding-top: 3px;}
.search-result .siteSearchUserBox a .fullname{font-weight: 500; color:#222; font-size: 14px;}
.search-result .siteSearchUserBox a .username{font-weight: 300; color:#666; font-size: 13px;}
.siteBox-3{width:50%; float:left;}


.media{
    width:100%;
}
.media::after{content:""; clear:both; display:table;}
.media .grid-item{float:left; width:45%;}
.media .grid-item:first-child{margin-right:5%;}
.media .grid-col--2{width:1200px;}
.card-padding .card-stats{width:100%;}
.card-padding .card-stats::after{clear:both; content:""; display:table;}
.card-padding .card-stats .stat{width:50%; float:left; text-align:center;}

.comment-list .site-card{
    margin-bottom:10px;
}
@media screen and (max-width:950px) {
    .search-result .instagramHashtagList {
        width: 100%;
    }

    .search-result .instagramUserList {
        width: 100%;
    }
}

@media screen and (max-width:680px) {
    .card-title{
        font-size:18px;
        line-height:30px;
    }

    .card-title a {
        background-color: #5b160b;
        color: #fff;
        text-decoration: none;
        padding: 2px;
        line-height: 40px;
        margin-right: 10px;
    }
    .grid-item {
        margin-bottom: 20px;
        width:100%;
        float:left;
    }
}

.loader {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 99;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pagging{
    width: 100%;
    text-align: center;
}
.pagging a{

}
.card{
    width:100%;
    padding:20px;
    border:1px solid #dedede;
    background:#fff;
    border-radius:10px;
}

.card .card-input-div{
    width:100%;
}
.card .card-input{
    width:100%;
    max-width:300px;
    margin-bottom:10px;
    height:30px;
    border-radius:5px;
    border:1px solid #dedede;
    padding-left:10px;
    resize:none;
}
.card textarea {
    height: 200px!important;
}
.card .card-input::after {
    content: "";
    clear: both;
    display: table;
}
.error {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.success {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.error ul{margin:0; padding:0; list-style:none;}


.table-btn {
    color: #fff;
    text-decoration: none;
    background: #5b160b;
    padding: 5px;
    border-radius: 5px;
    border:1px solid #5b160b;
}
.table-btn:hover {
    color: #5b160b;
    background:#fff;
}

@media screen and (max-width:840px) {
    .profileStats .site-grid-col--3 {
        width: calc(49.99% - 2 * 12px);
    }

}
.media .grid-col--2{width:100%;}
@media screen and (max-width:840px) {
    .media .grid-col--2 {
        display:block;
    }
    .media .grid-item{
        width:100%;
        margin-right:0;
    }
}

@media screen and (max-width:380px) {
    .profileStats .site-grid-col--3 {
        width: calc(99.99% - 2 * 12px);
    }
}

.profileStats .site-grid-col--3:nth-child(odd) .stats {
    padding: 10px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #eef2f7;
}

.profileStats .site-grid-col--3:nth-child(even) .stats {
    padding: 10px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    border-radius: 5px;
    background: rgba(238,242,247,.4);
}

.profileStats .site-grid-col--3 .stats p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.instagramStats {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #dedede;
}

.instagramStats .width30 {
    float: left;
    width: 30%;
    padding-right: 15px;
    box-sizing: border-box;
}

.instagramStats .width30 h3 {
    margin-bottom: 15px;
    font-size: 19px;
}

.instagramStats .width70 {
    float: left;
    width: 70%;
}

.instagramStats::after {
    clear: both;
    display: table;
    content: "";
}