﻿@model SearchViewModel
@{
    ViewBag.Title = "Search hashtags and account easily • Pikre";
    ViewBag.Description = "You can search pinterest hashtags and account by given keywords. The search will retrieve top and recent hashtag and account results.";
    ViewBag.Robots = "noindex, follow";
    ViewBag.Canonical = string.IsNullOrEmpty(Model.Param) ? Url.Action("Index", "Search") : Url.Action("Index", "Search", new { param = Model.Param });
}

<div class="site-content--large site-grid">
    <div class="site-grid-row">
        <div class="site-grid-col site-grid-col--12 centered">
            <div class="spacer"></div>
            <h1 class="centered">Search Instagram Hashtags And Account</h1>
            @if (string.IsNullOrEmpty(Model.Param))
            {
                <p>
                    <span class="tab"></span>Sometimes we want to search some spesific keyword on Instagram.
                </p>
                <p>
                    <span class="tab"></span>Our free "Search Instagram Hashtags And Account" tool provides a simple, relevance-based search interface to public user Hashtags on Instagram. It allows you to tailor search results to specific hashtag. This makes it easier to find specific hashtag results.
                </p>
                <p>
                    <span class="tab"></span>Just enter a search word or phrase below to start a search of any hashtags and account.
                </p>
            }

            <div class="spacer-2x"></div>

            <div class="site-form centered">
                <div class="site-form-field">
                    <div class="site-form-field-label">Hashtag or Name</div>
                    <input type="text" name="q" id="q" placeholder="Type hashtag or name here..." class="site-input site--width-50" value="@Html.Raw(string.IsNullOrEmpty(Model.Param) ? "" : Model.Param)">
                    <a class="site-btn site-btn--blue" id="fire">Search</a>
                </div>
                <div class="site-form-field">

                </div>
            </div>
            <div class="spacer-2x"></div>

            @if (!string.IsNullOrEmpty(Model.Param))
            {
                <div class="search-result">
                    <div class="instagramHashtagList">
                        <div class="instagramHashtagSearch">
                            <h3>Hashtags for @Model.Param</h3>
                        </div>
                    </div>
                    <div class="instagramUserList">
                        <div class="instagramUserSearch">
                            <h3>Users for @Model.Param</h3>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Param)) 
{ 
<div class="loader"></div>
}


@section scripts{

    @if (!string.IsNullOrEmpty(Model.Param))
    {
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="~/assets/js/main.js"></script>
        <script src="~/assets/js/instagram.js"></script>
        <script>
            instagram.results("@Model.Param", "funny", false);
        </script>
    }

    <script>

        document.querySelector("#q").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());

                window.location.assign("/search/" + value + "/");
                return false;
            }
        };
        function clearForSearch(value) {
            value = value.toLowerCase();
            value = value.replace(/ /g, '_');
            value = value.replace('#', '');
            value = value.replace('<', '');
            value = value.replace('>', '');
            value = value.replace('%', '');
            value = value.replace('&', '');
            value = value.replace('.', '');
            value = value.replace('*', '');
            value = value.replace('/', '');
            value = value.replace('~', '');
            value = value.replace(';', '');
            value = value.replace('@@', '');
            return value;
        }

        document.querySelector("#fire").onclick = function () {
            value = clearForSearch(document.querySelector("#q").value);
            if (value == '')
                ;
            else
                window.location.assign("/search/" + value + "/");

            return false;
        }
    </script>
}