﻿
@{
    ViewBag.Title = "The Most Powerful and Responsive Social Media Analytics Platform Available • " + CacheHelper.Setting.Sitename;
    ViewBag.Description = CacheHelper.Setting.Sitename + " offers best tools to help you easily measure your social media performance across multiple channels.";
    ViewBag.Robots = "index, follow";
    ViewBag.Canonical = Url.Action("Index", "Home");
    Random rnd = new Random();
}

<div class=" main-bg">
    <div class="site-jumbotron site-content--extra-large site--color-white centered">
        <div class="site-jumbotron-title"><h1>Social Media Analytics Platform</h1></div>
        <div class="site-jumbotron-subtitle">@CacheHelper.Setting.Sitename offers best tools to help you easily measure your social media performance across multiple channels</div>
        <div class="spacer-2x"></div>
    </div>

</div>
<div class="site-box-flat site--bg-white centered">
    <div class="sd-group-header-title site--color-dark">
        Measure & Maintain Your Social Performance <strong>Easily</strong>
    </div>
</div>
<div class="site-content--extra-large site-grid sd-group">
    <div class="site-grid-row  ">
        <div class="site-grid-col site-grid-col--4 site-grid-col--lg-12 centered ">
            <img src="~/assets/img/home-icon.png" class="main-icon centered" />
        </div>
        <div class="site-grid-col site-grid-col--8 site-grid-col--lg-12">

            <p class="sd-group-header-title ">
                @CacheHelper.Setting.Sitename is *<strong>free</strong> and provides a <strong>real-time platform</strong> that allows search and analysis of social media.
            </p>

            <p>
                Tracking the right social media analytics is essential for growing your audience and becoming more influential on the social media platform.

            </p>
            <p>
                We are here to serve you the best analytics and metrics tools avaliable. Without the right metrics, you'll never know if you could be doing more to engage your audience or grow your following.
            </p>
            <p>
                Your business depends on a variety of factors to operate in today’s marketplace. Integrating your internal data points with external environmental factors has become the most effective option to make certain increase for your business. As @CacheHelper.Setting.Sitename our mission is to combine these data points and apply superior statistical science to assist identify the most viable directions in which your business can grow.
            </p>
            <small> <i>* Some tools are free please sign up to reach more advanced tools.</i></small>
        </div>
    </div>
</div>
<div class="site-box-flat site--bg-white centered">
    <div class="sd-group-header-title site--color-dark">
        <h3 class="m-0">Popular Instagram Accounts</h3>
    </div>
</div>

<div class="sd-group site-content--extra-large centered">
    @foreach (var item in CacheHelper.Populars.OrderBy(x => rnd.Next()).Take(12))
    {
        var fullname = string.IsNullOrEmpty(item.Fullname) ? item.Username : item.Fullname;
        <a class="sd-group-item" href="@Url.Action("Index","Account", new { username = item.Username })/" title="@item.Fullname @item.Username - Instagram metrics, photos and videos">
            <img src="@item.ImagePath"
                 alt="@item.Fullname @item.Username - Instagram metrics, photos and videos"
                 title="@item.Fullname @item.Username - Instagram metrics, photos and videos"
                 width="60" height="60" />
            <p>@fullname</p>
        </a>
    }
</div>

<div class="site-box-flat site--bg-white centered">
    <div class="sd-group-header-title site--color-dark">
        <h3 class="m-0">Next Level Social Media Analytics Tools and Lists</h3>
    </div>
</div>
<div class="sd-group site-content--extra-large centered">
    <a class="sd-group-item" href="@Url.Action("Index","List")/" title="Most followed instagram accounts">
        <div class="sd-group-item-logo"><span class="ti-star"></span></div>
        <div class="sd-group-item-title">Instagram Most Popular Accounts</div>
        <div class="sd-group-item-description">Discover the recently updated hot list of Instagram accounts.</div>
    </a>
    <a class="sd-group-item" href="@Url.Action("Hashtag","List")/" title="Instagram Most Popular Hashtags">
        <div class="sd-group-item-logo">#</div>
        <div class="sd-group-item-title">Instagram Most Popular Hashtags</div>
        <div class="sd-group-item-description">The list of top most use currently popular hashtags on social media platforms.</div>
    </a>
    <a class="sd-group-item" href="@Url.Action("Category","List")/" title="Instagram Most Popular Categories">
        <div class="sd-group-item-logo"><span class="ti-layers"></span></div>
        <div class="sd-group-item-title">Instagram Most Popular Categories</div>
        <div class="sd-group-item-description">The list of all categories sorted by popularity.</div>
    </a>
</div>

<div class="site-box-flat site--bg-white centered">
    <div class="sd-group-header-title site--color-dark">
        <h3 class="m-0">Popular Hashtags</h3>
    </div>
</div>
<div class="sd-group site-content--extra-large centered">

    @foreach (var item in CacheHelper.Hashtags.OrderBy(x => rnd.Next()).Take(12))
    {
        <a class="sd-group-item site--height-75" href="@Url.Action("Index","Hashtag", new { hashtag = item.Name})/" title="#@item.Name instagram photos, videos and stroies">
            <div class="sd-group-item-logo">#</div>
            <div class="sd-group-item-title">#@item.Name</div>
        </a>
    }
</div>
