﻿@model HashtagViewModel
@{
    ViewBag.Title = "Index";
}

<div class="main">
    <div class="siteContainer">

        @if (Model.InstagramHashtag == null)
        {
            <div class="pageDescription">
                <div class="pageIcon">
                    <i class="icon-price-tag"></i>
                </div>
                <div class="pageTitle">
                    <h1>#@Model.Hashtag Instagram Feeds Photos and Videos</h1>
                </div>
                <div class="pageText">
                    <h2>Medias tagged as <strong>#@Model.Hashtag</strong> on Instagram Viewer</h2>
                </div>
                <div class="pageItemCount">
                    <p><span>Loading...</span></p>
                </div>
            </div>

            <div class="instagramUserMediaList">
            </div>
        }
        else
        {
            <div class="pageDescription">
                <div class="pageIcon">
                    <i class="icon-price-tag"></i>
                </div>
                <div class="pageTitle">
                    <h1>#@Model.Hashtag Instagram Feeds Photos and Videos</h1>
                </div>
                <div class="pageText">
                    <h2>Medias tagged as <strong>#@Model.Hashtag</strong> on Instagram Viewer</h2>
                </div>
                <div class="pageItemCount">
                    <p><span>@UIHelper.ToCommaSeparetadNumber(Model.InstagramHashtag.HasGraphql.Hashtag.HashtagMedia.Count.ToString())</span></p>
                </div>
            </div>

            <div class="instagramUserMediaList">
                @Html.RenderPartial("_fileHashtagPage", Model.InstagramHashtag.HasGraphql.Hashtag.HashtagMedia.Items)
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="~/_assets/js/jquery.min.js"></script>
    <script src="~/_assets/js/tagra.js"></script>

    <script>

        $("document").ready(function () {
            instagram.hashtag("@Model.Hashtag", "funny", false);
        })

        setInterval(function () {
            var elem = document.querySelector('.instagramUserMediaList');
		    var msnry = new Masonry( elem, {
		      itemSelector: '.siteBox-3',
            });
        }, 2000)

    </script>
}