﻿@model ListCategoryViewModel
@{
    ViewBag.Title = "Instagram Trending Categories - "+CacheHelper.Setting.Sitename;
    ViewBag.Description = "Instagram Popular Trending Categories on " + CacheHelper.Setting.Sitename;
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = Url.Action("Categories","List");
}

    <div class="site-content--large site-grid">
        <div class="site-grid-row">
            <div class="site-grid-col site-grid-col--12">
                <div class="spacer-2x"></div>
                <h1 class="centered">Top Instagram Categories</h1>
                <p>We are regularly updating the list, so check back often to get the most up to date list. Most followed instagram category creators list</p>
                <div class="spacer-2x"></div>
                <div class="site-table">
                    <table>
                        <thead class="site-table-header">
                            <tr>
                                <td class="site-table-cell centered"></td>
                                <td class="site-table-cell">Category Name</td>
                                <td class="site-table-cell">Popularity</td>
                            </tr>
                        </thead>
                        <tbody class="site-table-body">
                            @{ var counter = 0; }
                            @foreach (var item in CacheHelper.Categories)
                            {
                                counter++;
                                <tr class="site-table-row">
                                    <td class="site-table-cell site--width-5 centered ">@counter</td>
                                    <td class="site-table-cell"><a href="@Url.Action("Detail","List", new { slug = item.Slug })/" class="table-btn" title="@item.Name Instagram Account Lists"><strong>@item.Name</strong></a></td>
                                    <td class="site-table-cell">24.45%</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>