﻿@model ListHashtagViewModel
@{
    ViewBag.Title = "Instagram Trending Hashtags - "+CacheHelper.Setting.Sitename;
    ViewBag.Description = "Instagram Popular Trending Hashtags on " + CacheHelper.Setting.Sitename;
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = Url.Action("Hashtags","List");
}

    <div class="site-content--large site-grid">
        <div class="site-grid-row">
            <div class="site-grid-col site-grid-col--12">
                <div class="spacer-2x"></div>
                <h1 class="centered">Most Popular Instagram Hashtags</h1>
                <p>We are regularly updating the list, so check back often to get the most up to date list. Most use instagram medias with this hashtags. Most popular instagram hashtags</p>
                <div class="spacer-2x"></div>
                <div class="site-table">
                    <table>
                        <thead class="site-table-header">
                            <tr>
                                <td class="site-table-cell centered"></td>
                                <td class="site-table-cell">Hashtag</td>
                                <td class="site-table-cell">Media Count</td>
                            </tr>
                        </thead>
                        <tbody class="site-table-body">
                            @{ var counter = 0; }
                            @foreach (var item in Model.Hashtags)
                            {
                                counter++;
                                <tr class="site-table-row">
                                    <td class="site-table-cell site--width-5 centered ">@counter</td>
                                    <td class="site-table-cell"><a href="@Url.Action("Index","Hashtag", new { hashtag = item.Name })/" class="table-btn" title="@item.Name Instagram Feeds"><strong>@item.Name</strong></a></td>
                                    <td class="site-table-cell">@item.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>