﻿@model ListViewModel
@{
    ViewBag.Title = "Most popular instagram accounts - "+CacheHelper.Setting.Sitename;
    ViewBag.Description = "Most popular instagram accounts +[5k] Popular accounts this list in all account have +1 milion followers";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = Url.Action("Index","List");
}
    <div class="site-content--large site-grid">
        <div class="site-grid-row">
            <div class="site-grid-col site-grid-col--12">
                <div class="spacer-2x"></div>
                <h1 class="centered">Most popular instagram accounts</h1>
                <p>Find a list of all Most Popular Accounts on Social media platforms by Instagram. Selena Gomez, Taylor Swift and much more..</p>
                <p>This list contains the top 50 accounts with the most followers on the photo and video-sharing social platform Instagram. As of January 2020, the most-followed person is footballer Cristiano Ronaldo with over 197 million followers, and the most-followed woman is singer Ariana Grande with over 171 million followers. Instagram has its own brand account on the platforms</p>
                <div class="spacer-2x"></div>
                <div class="site-table">
                    <table>
                        <thead class="site-table-header">
                            <tr>
                                <td class="site-table-cell centered"></td>
                                <td class="site-table-cell">Fullname</td>
                                <td class="site-table-cell">Username</td>
                                <td class="site-table-cell">Medias</td>
                                <td class="site-table-cell">Followers</td>
                                <td class="site-table-cell">Followings</td>
                            </tr>
                        </thead>
                        <tbody class="site-table-body">
                            @{ var counter = 0; }
                            @foreach (var item in Model.PopularAccounts)
                            {
                                counter++;
                                var fullanme = string.IsNullOrEmpty(item.Fullname) ? item.Username : item.Fullname;
                                <tr class="site-table-row">
                                    <td class="site-table-cell site--width-5 centered ">@counter</td>
                                    <td class="site-table-cell"><a href="@Url.Action("Index","Account", new { username = item.Username })/" class="table-btn" title="@fullanme Instagram profile and daily stats"><strong>@fullanme</strong></a></td>
                                    <td class="site-table-cell">@item.Username</td>
                                    <td class="site-table-cell">@UIHelper.ToCommaSeparetadNumber(item.Media.ToString())</td>
                                    <td class="site-table-cell">@UIHelper.ToCommaSeparetadNumber(item.Followers.ToString())</td>
                                    <td class="site-table-cell">@UIHelper.ToCommaSeparetadNumber(item.Followings.ToString())</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="spacer-2x"></div>

                <div class="pagging">
                    @{ var nextPage = Model.Page + 1; var prevPage = Model.Page - 1; }
                    @if (Model.Page > 1)
                    {
                        if (Model.PopularAccounts.Count == 100)
                        {
                            <a href="@Url.Action("Index","List", new { page = prevPage })/" class="site--color-dark site-btn site-btn--light site-btn-small">Prev</a>
                            <a href="@Url.Action("Index","List", new { page = nextPage })/" class="site--color-dark site-btn site-btn--light site-btn-small">Next</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index","List", new { page = prevPage })/" class="site--color-dark site-btn site-btn--light site-btn-small">Prev</a>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action("Index","List", new { page = nextPage })/" class="site--color-dark site-btn site-btn--light site-btn-small">Next</a>
                    }
                </div>

                <p>We are regularly updating the list, so check back often to get the most up to date list. </p>
            </div>
        </div>
    </div>