﻿@model HomeViewModel

@{
    ViewBag.Title = "site Online instagram Browser and Viewer";
    ViewBag.Description = "site is best of instagram user, videos and musics. We suggests to you instagram accounts, instagram videos, instagram tags";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = Url.Action("Index", "Home");
}

<div class="siteFullContainer siteHomeBanner">
    <div class="siteContainer">
        <div class="siteheadline">
            <h1>Search Accounts and Hashtags from Instagram</h1>
            <div class="siteHomeSearch">
                <form id="searchBanner">
                    <input type="text" name="test" id="searchInput" class="searchHome" placeholder="Search instagram User or Challenge" />
                    <button id="searchBtn"><i class="icon-search"></i></button>
                </form>
            </div>
            <h2>Find and Browse all Instagram Accounts and hashtags</h2>
        </div>
    </div>
</div>



<div class="main">

    <div class="siteContainer">
        <div class="siteDescriptionBox">
            <div class="siteBox-4">
                <div class="instagramDescBox">
                    <h3>Easy Search Find instagram User's</h3>
                    <div class="instagramDescIcon">
                        <i class="icon-address-book"></i>
                    </div>
                    <p>site.com is search instagram users, challenge and music</p>
                </div>
            </div>
            <div class="siteBox-4">
                <div class="instagramDescBox">
                    <h3>instagram User All Statistics</h3>
                    <div class="instagramDescIcon">
                        <i class="icon-stats-dots"></i>
                    </div>
                    <p>site.com is search instagram users, challenge and music</p>
                </div>
            </div>
            <div class="siteBox-4">
                <div class="instagramDescBox">
                    <h3>instagram Video Download</h3>
                    <div class="instagramDescIcon">
                        <i class="icon-floppy-disk"></i>
                    </div>
                    <p>site.com is search instagram users, challenge and music</p>
                </div>
            </div>
            <div class="siteBox-4">
                <div class="instagramDescBox">
                    <h3>Popular User's and Challange's</h3>
                    <div class="instagramDescIcon">
                        <i class="icon-fire"></i>
                    </div>
                    <p>site.com is search instagram users, challenge and music</p>
                </div>
            </div>
        </div>
    </div>
    <div class="siteFullContainer">
        <h3 style="text-align:center;">Instagram Lists</h3>
        <div class="instagramTrendLists">
            @{ Random rnd = new Random(); }
            @foreach (var item in Model.Categories.OrderBy(x => rnd.Next()).Take(10))
            {
                <div class="listItem" style="background-image: url('https://sometag.org/_assets/popular/list/beauty.jpg')">
                    <a href="@Url.Action("Index","Category", new { slug = item.Slug })" title="">
                        @item.Name
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="siteContainer features">
        <h3 class="title">@CacheHelper.Setting.Sitename Features</h3>
        <div class="row">
            <div class="siteBox-3">
                <div class="card">
                    <div class="card-body">
                        <img src="http://demo.interface.club/limitless/demo/Template/global_assets/images/demo/users/face11.jpg" class="features-icon" alt="">
                        <h4 class="features-title">For advertisers</h4>
                        <p class="features-summary">Invest only in influencers with quality target audience</p>
                        <ul>
                            <li>Powerful Instagram and YouTube analytics tool for making the right decisions</li>
                            <li>Discover Influencers with 25 filters including audience location, age &amp; gender, engagement rate</li>
                            <li>Data-proven analysis in minutes, so you don’t have to hire experts or check manually</li>
                        </ul>
                        <p class="features-desc">
                            Use <strong>advertisers dashboard</strong> to organize your influencers and calculate audience quality of influencers for your next campaign
                        </p>

                    </div>
                </div>
            </div>
            <div class="siteBox-3">
                <div class="card">
                    <div class="card-body">
                        <img src="http://demo.interface.club/limitless/demo/Template/global_assets/images/demo/users/face11.jpg" class="features-icon" alt="">
                        <h4 class="features-title">For agencies &amp; platforms</h4>
                        <p class="features-summary">Get reliable multi-source audience data including the most advanced fraud detection system</p>
                        <ul>
                            <li>Qualify influencer audience quality with the most advanced fraud detection system</li>
                            <li>Ensure the success of your customers and attract more users</li>
                            <li>Integrate via uncomplicated API to enrich reporting on your platform with audience demography, quality, and engagement authenticity</li>
                        </ul>
                        <p class="features-desc">
                            Integrate via <strong>uncomplicated API</strong> to enrich reporting on your platform with audience demography, quality, and engagement authenticity
                        </p>

                    </div>
                </div>
            </div>
            <div class="siteBox-3">
                <div class="card">
                    <div class="card-body">
                        <img src="http://demo.interface.club/limitless/demo/Template/global_assets/images/demo/users/face11.jpg" class="features-icon" alt="">
                        <h4 class="features-title">For influencers</h4>
                        <p class="features-summary">Know your audience to prove your worthiness</p>
                        <ul>
                            <li>See how engaged is your audience and what are they interested in</li>
                            <li>Show prospective clients that your audience is organic and engaged</li>
                            <li>Get more collaborations with top brands</li>
                        </ul>
                        <p class="features-desc">
                            Connect your Instagram or Youtube account to access your <strong>report for free</strong> and subscribe to weekly progress updates with actionable insights into improving your blog
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="siteContainer">
        <div class="siteInstagramPopularUsers">
            <div class="siteBoxTitle">
                <h3>Popular instagram Users</h3>
            </div>

            <div class="siteUserBox">
                @{ var counter = 0;}
                @foreach (var item in Model.PopularAccounts)
                {
                    counter++;
                    <div class="instagramUserBox siteBox-3">
                        <a href="@Url.Action("Index","Account", new { username = item.Username })/">
                            <div class="instagramUserImage">
                                <img src="@item.ImagePath" alt="Username">
                            </div>
                            <div class="instagramUsername">
                                <p><span class="count">@counter</span>@@@item.Username</p>
                                <p>@UIHelper.ToCommaSeparetadNumber(item.Media.ToString()) Posts</p>
                                <p>@UIHelper.ToCommaSeparetadNumber(item.Followings.ToString()) Followings</p>
                                <p>@UIHelper.ToCommaSeparetadNumber(item.Followers.ToString()) Followers</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="siteContainer">
        <div class="siteInstagramPopularHashtags">
            <div class="siteBoxTitle">
                <h3>Instagram Feeds by Hashtags</h3>
            </div>
            @foreach (var item in Model.Hashtags)
            {
                <div class="siteTagBox siteBox-4">
                    <div class="instagramHashtagBox">
                        <a href="#">
                            <div class="instagramTagIcon">
                                <i class="icon-price-tag"></i>
                            </div>
                            <div class="instagramPopularChallenge">
                                <p>@item.Name</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section scripts{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        var elem = document.querySelector('.grid');
        var msnry = new Masonry(elem, {
            itemSelector: '.grid-item',
            columnWidth: 200
        });
    </script>
}