﻿@model MediaViewModel
@{
    ViewBag.Title = "Instagram media statistics and comments";
    ViewBag.Description = "Instagram media statistics and comments";
    ViewBag.Canonical = Url.Action("Index","Media", new { code = Model.Code });
    ViewBag.Robots = "noindex,follow";
}

<div class="main">
    <div class="siteContainer">
        <div class="videoContainer">
            <div class="tiktokVideoPlayer">
                <h1></h1>
            </div>
            <div class="tiktokVideoCommentsBox">
                <div class="tiktokVideoUserInfos">
                    
                </div>
                <div class="tiktokVideoStatsAndDesc">
                    
                </div>
                <div class="tiktokVideoComments">
                    <div class="tiktokUserVideoComment">
                        <h3>Media Comments</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="siteContainer">
    <div class="videoContainer">
        <h3>Related Medias</h3>
        <div class="instagramUserMediaList">
        </div>
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="~/_assets/js/jquery.min.js"></script>
    <script src="~/_assets/js/tagra.js"></script>

    <script>
        $("document").ready(function () {
            instagram.media("@Model.Code", "funny");
        })

        setInterval(function () {
            var elem = document.querySelector('.instagramUserMediaList');
		    var msnry = new Masonry( elem, {
		      itemSelector: '.siteBox-3',
            });
        }, 2000)
    </script>
}