@font-face {
    font-family: 'tirilium';
    src: url(../fonts/tirilium/tirilium-light.eot?#iefix) format("embedded-opentype"), url(../fonts/tirilium/tirilium-light.woff) format("woff"), url(../fonts/tirilium/tirilium-light.ttf) format("truetype"), url(../fonts/tirilium/tirilium-light.svg#tirilium-light) format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'tirilium';
    src: url(../fonts/tirilium/tirilium.eot?#iefix) format("embedded-opentype"), url(../fonts/tirilium/tirilium.woff) format("woff"), url(../fonts/tirilium/tirilium.ttf) format("truetype"), url(../fonts/tirilium/tirilium.svg#tirilium) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'tirilium';
    src: url(../fonts/tirilium/tirilium-italic.eot?#iefix) format("embedded-opentype"), url(../fonts/tirilium/tirilium-italic.woff) format("woff"), url(../fonts/tirilium/tirilium-italic.ttf) format("truetype"), url(../fonts/tirilium/tirilium-italic.svg#tirilium-italic) format("svg");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'tirilium';
    src: url(../fonts/tirilium/tiriliumsemi.eot?#iefix) format("embedded-opentype"), url(../fonts/tirilium/tiriliumsemi.woff) format("woff"), url(../fonts/tirilium/tiriliumsemi.ttf) format("truetype"), url(../fonts/tirilium/tiriliumsemi.svg#tiriliumsemi) format("svg");
    font-weight: 500;
    font-style: normal;
}
html, body{padding: 0; margin:0; font-family: 'tirilium', Helvetica, Arial, sans-serif!important; background:#f1f1f1; color:#222; font-size: 16px;}
nav, ul{list-style: none; margin:0; padding: 0;}
.bg-none{background:none!important;}
.border-none{border:0!important;}
h1,h2,h3,h4,h5,h6,p{margin:0;}
a{text-decoration: none;}
.siteContainer{width: 1080px; margin:0 auto;}
/*#ce3333*/
header{width: 100%; height: 65px; background: #f8f8f8 ; border-bottom: 1px solid #dedede; box-sizing: border-box;}
header .siteMenuLeft{height: 65px; float: left; width: 50%;}
header .siteMenuLeft .logo{height: 65px; line-height: 65px; float: left; width: 35%;}
header .siteMenuLeft .logo a{color:#222; text-decoration: none;}
header .siteMenuLeft .logo img{ float: left; margin-top: 7px; margin-right: 5px; }
header .siteMenuLeft .logo .logoTitle{font-size: 22px; font-weight: 500; padding: 0; margin:0;}
header .siteMenuLeft .search{float: left; height: 65px; line-height: 65px;}
header .siteMenuLeft .search .searchBar{height: 35px; border:1px solid #dedede; border-bottom-left-radius: 5px; border-top-left-radius: 5px;  padding-left:5px; box-sizing: border-box;}
header .siteMenuLeft .search .searchBar:focus{outline: none; }
header .siteMenuLeft .search #searchBtn{height: 35px; line-height: 35px; padding: 0; margin:0; border-bottom-right-radius: 5px; border-top-right-radius: 5px; background: none; border:1px solid #dedede; width: 35px; position: relative; left:-5px; top:1px;}

header .siteMenuRight{float: left; width: 50%; height: 65px;}
header .siteMenuRight ul{height: 65px; line-height: 65px; float: right;}
header .siteMenuRight ul li{float: left; }
header .siteMenuRight ul li a{display: block; text-decoration: none; padding: 0 10px; color:#222;}
header .siteMenuRight ul li a:hover{background: #e7e7e7;}

/*Sabit Tanımlar Başlangıç*/
.zoom:hover {-ms-transform: scale(1.05); /* IE 9 */-webkit-transform: scale(1.05); /* Safari 3-8 */transform: scale(1.05); }
.zoom {-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
/*Sabit Tanımlar Bitiş*/

.siteFullContainer{width: 100%; margin-bottom: 20px;}
.siteHomeBanner{ height: 300px; background-image: url("../img/headline.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; color:#fff;}
.siteFullContainer .siteheadline{height: 300px; }
.siteFullContainer .siteheadline h1{padding-top: 35px; width: 100%; text-align: center;}
.siteFullContainer .siteheadline h2{padding-top: 35px; width: 100%; text-align: center;}
.siteFullContainer .siteheadline .siteHomeSearch{width: 100%; margin:35px 0;}
.siteFullContainer .siteheadline .siteHomeSearch .searchHome{height: 50px;  border:1px solid #dedede; border-bottom-left-radius: 5px; border-top-left-radius: 5px;  padding-left:5px; box-sizing: border-box; width: 95%; float: left;}
.siteFullContainer .siteheadline .siteHomeSearch button{width: 5%; height: 50px; box-sizing: border-box; background: #f8f8f8;  border-bottom-right-radius: 5px; border-top-right-radius: 5px; border:1px solid #dedede; line-height: 50px; font-size: 18px; color:#ce3333; }
.instagramTrendLists::after{display: table; content: ""; clear: both;}
.instagramTrendLists .listItem{width: 10%; float: left; height: 75px; background-size:cover; background-repeat: no-repeat; background-position: center; text-align: center; }
.instagramTrendLists .listItem a{display: flex; justify-content: center; align-items: center; width: 100%; height: 75px; background: rgba(0,0,0,0.5); color:#fff; font-weight: 500;text-shadow: 2px 2px 2px #333;}
.instagramTrendLists .listItem a:hover{background: none;}

.siteBoxTitle{width:100%; text-align: center; margin: 10px 0;}

.siteBox-4{width: 25%; float: left; padding: 10px; box-sizing: border-box; }
.siteBox-3{width: 33.33%; float: left; }
.siteBox-1{width: 100%;}
.instagramDescBox{padding:10px; box-sizing: border-box; border:1px solid #dedede; border-radius: 5px; text-align: center; background-color: #fff;}
.instagramDescBox h3{font-size: 16px; margin-bottom: 15px;}
.instagramDescBox .instagramDescIcon{width: 100px; height: 100px; margin:0 auto; background:#ce3333; text-align: center; line-height: 120px; border-radius: 50%; }
.instagramDescBox .instagramDescIcon i{font-size: 40px; color:#fff;}
.instagramDescBox p{margin-top: 10px; }

.siteDescriptionBox::after{clear: both; display: table; content:"";}
.siteInstagramPopularHashtags::after{clear: both; display: table; content:"";}
.siteInstagramMediaLists::after{clear: both; display: table; content:"";}

.siteUserBox{width: 100%;}
.siteUserBox::after{clear: both; display: table; content:"";}
.instagramUserBox{padding: 5px; box-sizing: border-box;}
.instagramUserBox a{width: 100%; display: block; color:#222; text-decoration: none; height: 170px; padding: 10px; box-sizing: border-box; border:1px solid #dedede; background: #fff; border-radius: 5px;}
.instagramUserBox a p:first-child{color:#ce3333; font-weight: 500;}
.instagramUserBox a:hover p:first-child{color:#222;}
.instagramUserBox a p .count{background: #ce3333; color:#fff; font-size: 12px;border-radius:50%;padding: 0px 5px; margin-right: 5px; }
.instagramUserBox .instagramUserImage{height: 150px; display: flex; align-items: center; float: left; width:150px; margin-right: 10px;}
.instagramUserBox img{float: left; width: 150px; height: 150px; border-radius: 50%;}
.instagramUserBox .instagramUsername{;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.instagramUserBox .instagramUsername p:first-child{margin-top: 5px;}
.instagramUserBox .instagramUsername p{width: 100%; line-height: 30px;}

.siteTagBox{padding: 5px;}
.instagramHashtagBox{padding:10px; box-sizing: border-box; border:1px solid #dedede; border-radius: 5px; height: 80px; background-color: #fff;}
.instagramHashtagBox a{width: 100%; display: block; color:#222; text-decoration: none; height: 100%;}
.instagramHashtagBox a:hover{color:#ce3333;}
.instagramHashtagBox .instagramTagIcon{height: 60px; display: flex; align-items: center; float: left; }
.instagramHashtagBox .instagramTagIcon i{float: left; font-size: 35px; margin-right: 10px; color:#ce3333;}
.instagramHashtagBox .instagramPopularChallenge{;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 72%; line-height: 60px;}

.instagramMedia{overflow:hidden; position: relative;}
.instagramMedia a{ display: flex; justify-content: center; align-items:center; color:#ce3333;}
.instagramMedia i{position: absolute; z-index: 99; width: 50px; height: 50px; background: rgba(255,255,255,0.8); line-height: 50px; text-align: center; border-radius: 50%;}
.siteMediaListBox .instagramMediasBox{border:1px solid #dedede; border-radius: 5px; box-sizing: border-box;background-color: #fff;}
.siteMediaListBox .instagramUserInfos{border-bottom: 1px solid #dedede;}
.siteMediaListBox .instagramUserInfos a{width: 100%; padding:10px; box-sizing: border-box; display: block; color:#ce3333; text-decoration: none;}
.siteMediaListBox .instagramUserInfos a:hover{color:#222; text-decoration: underline;}
.siteMediaListBox .instagramUserInfos .instagramUserImage{height: 55px; display: flex; align-items: center; float: left; width:60px;}
.siteMediaListBox .instagramUserInfos img{float: left; width: 50px; height: 50px; border-radius: 50%;}
.siteMediaListBox .instagramUserInfos .instagramUsername{;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 72%;}
.siteMediaListBox .instagramUserInfos .instagramUsername p:first-child{margin-top: 5px;}
.siteMediaListBox .instagramUserInfos .instagramUsername p{width: 100%}
.siteMediaListBox .instagramMedia img{width: 100%;display: block;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.siteMediaListBox .instagramMediaStats{width: 100%; border-top:1px solid #dedede;}
.siteMediaListBox .instagramMediaStats::after{display: table; clear: both; content: "";}
.siteMediaListBox .instagramMediaStats p{width: 33.33%; text-align: center; float: left; height: 30px; line-height: 30px; font-size: 16px;}
.siteMediaListBox .instagramMediaDescription{padding: 10px; box-sizing: border-box; color:#222; overflow: hidden; font-size: 16px;}
.siteMediaListBox .instagramMediaDescription a{color:#ce3333; background: #EFEFEF; padding:2px 5px; box-sizing: border-box; margin-right:5px; }
.siteMediaListBox .instagramMediaDescription a:hover{background:#afafaf;}
.siteMediaListBox .instagramMediaLocation{padding: 10px; box-sizing: border-box; color:#222; border-top: 1px solid #dedede; text-align: right;}
.siteMediaListBox .instagramMediaLocation a{color:#fff; background: #ce3333; padding:2px 7px; box-sizing: border-box; border-radius: 5px; }

/*Icon Colors*/
.siteMediaListBox .instagramMediaStats .icon-heart{color:#ce3333;}
.siteMediaListBox .instagramMediaStats .icon-bubbles{color:#4295f4;}
.siteMediaListBox .instagramMediaStats .icon-forward{color:#f2af32;}
.instagramMediaCommentsBox .icon-heart{color:#ce3333;}
.instagramMediaCommentsBox .icon-bubbles{color:#4295f4;}
.instagramMediaCommentsBox .icon-forward{color:#f2af32;}

/*Search Page*/
.pageDescription{width: 100%; margin:10px 0;}
.pageDescription .pageIcon{width: 60px; height: 60px; margin:0 auto; background: #ce3333; border-radius: 50%; line-height: 60px; text-align: center; color:#fff;}
.pageDescription .pageTitle{color:#ce3333; width: 300px; text-align: center; border-bottom: 3px solid #DDD; margin:0 auto 5px auto; padding-bottom: 7px; box-sizing: border-box;}
.pageDescription .pageTitle h1{font-size: 24px;}
.pageDescription .pageText{width: 100%; text-align: center; padding: 0 15px; box-sizing: border-box;}
.pageDescription .pageText h2{font-size: 16px; font-weight: 300;}
.pageDescription .pageItemCount{width: 100%; text-align: center; margin: 5px 0;}
.pageDescription .pageItemCount p span{padding: 5px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px; background: #ce3333; color:#fff;}

.siteSearchBoxHeader .siteSearchForm{width: 400px; margin:15px auto;}
.siteSearchBoxHeader .siteSearchForm::after{clear: both; display: table; content:"";}
.siteSearchBoxHeader .siteSearchForm input{width: 90%; float: left; height: 50px; box-sizing: border-box; border:1px solid #dedede; border-top-left-radius: 15px;border-bottom-left-radius: 15px; padding-left: 10px;}
.siteSearchBoxHeader .siteSearchForm button{width: 10%; height: 50px; border:1px solid #dedede;border-bottom-right-radius: 15px;border-top-right-radius: 15px;}}

.siteInstagramSearchResult{width: 100%;}
.siteInstagramSearchResult::after{clear: both; display: table; content: "";}
.siteInstagramSearchResult .instagramHashtagList{width: 28%; margin-right: 2%; float: left; }
.siteInstagramSearchResult .instagramHashtagSearch h3{color:#ce3333; font-size: 25px; border-bottom: 2px solid #ce3333; margin-bottom: 10px;}
.siteInstagramSearchResult .searchTagBox a{display: block; margin-bottom: 5px;}
.siteInstagramSearchResult .searchTagBox a:hover{background: #ce3333; padding-left: 5px; box-sizing: border-box; }
.siteInstagramSearchResult .searchTagBox a .hashtagName{float: left; font-size: 14px; color:#222; font-weight: 500;}
.siteInstagramSearchResult .searchTagBox a:hover .hashtagName{color:#fff;}
.siteInstagramSearchResult .searchTagBox a .hashtagCount{float: right; font-size: 12px; padding: 2px 5px; background: #ce3333; color:#fff; border-radius: 5px; box-sizing: border-box;}
.siteInstagramSearchResult .searchTagBox a::after{display: table; clear: both; content:"";}
.siteInstagramSearchResult .instagramUserList{width: 70%; float: left;}
.siteInstagramSearchResult .instagramUserSearch h3{color:#ce3333; font-size: 25px; border-bottom: 2px solid #ce3333; margin-bottom: 10px;}
.siteInstagramSearchResult .siteSearchUserBox{padding: 5px; box-sizing: border-box;}
.siteInstagramSearchResult .siteBox-3:nth-child(odd){box-shadow: 1px 1px 3px #3333; margin-bottom: 5px;}
.siteInstagramSearchResult .siteBox-3:nth-child(even){margin-bottom: 5px;}
.siteInstagramSearchResult .siteBox-3:last-child{margin-bottom: 20px;}
.siteInstagramSearchResult .siteSearchUserBox a{display: block; height: 80px;}
.siteInstagramSearchResult .siteSearchUserBox a:hover .fullname{color:#ce3333;}
.siteInstagramSearchResult .siteSearchUserBox a:hover .username{color:#ce3333;}
.siteInstagramSearchResult .siteSearchUserBox a img{width: 80px; float: left; height: 80px; border-radius: 50%; margin-right: 8px;}
.siteInstagramSearchResult .siteSearchUserBox a p{width: 100%; padding-top: 15px;}
.siteInstagramSearchResult .siteSearchUserBox a p:last-child{padding-top: 3px;}
.siteInstagramSearchResult .siteSearchUserBox a .fullname{font-weight: 500; color:#222; font-size: 14px;}
.siteInstagramSearchResult .siteSearchUserBox a .username{font-weight: 300; color:#666; font-size: 13px;}

/*Hashtag Page*/
.siteInstagramHashtagResult{width: 100%; margin:15px 0;}
.siteInstagramHashtagResult::after{clear: both; display: table; content: "";}
.siteInstagramHashtagResult .siteMediaListBox{padding:10px; box-sizing: border-box;}

/*User Page*/
.instagramUserContainer{width: 100%; margin:20px 0 0 0; padding: 10px;position:relative; box-sizing: border-box;}
.instagramUserContainer h1{font-size: 22px; margin:10px 0;}
.instagramUserContainer h2{margin-bottom:10px; font-size: 16px; font-weight: 300;}
.instagramUserContainer .instagramInfos{height: 120px; }
.instagramUserContainer .instagramInfos img{width: 120px; height: 120px; border-radius: 50%; float: left; margin-right: 20px;}
.instagramUserContainer .instagramInfos p{font-size: 15px; width: 100%; margin-bottom: 4px;}
.instagramUserContainer .instagramInfos .instagramUserSocialMedia a{float: left; font-size: 20px; margin-right: 15px;}
.instagramUserContainer .instagramInfos .instagramUserSocialMedia a .icon-twitter{color:#1dcaff;}
.instagramUserContainer .instagramInfos .instagramUserSocialMedia a .icon-youtube{color:#ce3333;}
.instagramUserContainer .instagramInfos .instagramUserSocialMedia a .icon-instagram{color:#a54d17;}
.instagramUserContainer .instagramUserAnalytics{width: 100%; background-color: #fff; margin:20px 0; border:1px solid #dedede; border-radius: 5px;}
.instagramUserContainer .instagramUserAnalytics::after{content: ""; clear: both; display: table;}
.instagramUserContainer .instagramUserAnalytics .instagramUserStats{width: 20%; float: left; text-align: center; padding: 10px 0; border-right:1px solid #dedede; box-sizing: border-box; font-size: 15px;}
.instagramUserContainer .instagramUserAnalytics .instagramUserStats i{font-size: 16px;}
.instagramUserContainer .instagramUserAnalytics .instagramUserStats:last-child{border-right: none;}
.instagramUserContainer .instagramUserAnalytics .instagramUserStats a{color:#ce3333; width: 100%; display: block; font-size: 15px;}
.instagramUserContainer .instagramUserAnalytics .instagramUserStats a:hover{color:#222;}
.instagramUserContainer .instagramUserAnalytics .active a{color:#222;}
.instagramUserMediaList{width: 100%; margin:0 0 15px 0;}
.instagramUserMediaList::after{clear: both; display: table; content: "";}
.instagramUserMediaList .siteMediaListBox{padding:10px; box-sizing: border-box;}
.userLastStatsBox {background: #fff;border: 1px solid #dedede;border-radius: 5px;padding: 10px 0px;width:100%;}
.userLastStatsBox .userLastStats{text-align:center;}
.userLastStatsBox .userLastStats a{color:#ce3333;}
.userLastStatsBox::after{clear: both; display: table; content: "";}
.instagramStats{width:100%; background:#fff; padding:20px; border-radius:10px; margin-bottom:20px; box-sizing:border-box; border:1px solid #dedede;}
.instagramStats .width30{float:left; width:30%; padding-right:15px; box-sizing:border-box;}
.instagramStats .width30 h3{margin-bottom:15px; font-size:19px;}
.instagramStats .width70{float:left; width:70%;}
.instagramStats::after{clear: both; display: table; content: "";}


/*Friends && Followers Page*/
.instagramUserFriendsList{width: 100%; margin-bottom: 20px; padding: 10px; box-sizing: border-box;}
.instagramUserFriendsList::after{clear: both; display: table; content: "";}
.instagramUserFriendsList .siteFriendsUserBox{padding: 5px; box-sizing: border-box;}
.instagramUserFriendsList .siteBox-3:nth-child(odd){box-shadow: 1px 1px 3px #3333; margin-bottom: 5px;}
.instagramUserFriendsList .siteBox-3:nth-child(even){margin-bottom: 5px;}
.instagramUserFriendsList .siteBox-3:last-child{margin-bottom: 20px;}
.instagramUserFriendsList .siteFriendsUserBox a{display: block; height: 80px;}
.instagramUserFriendsList .siteFriendsUserBox a:hover .fullname{color:#ce3333;}
.instagramUserFriendsList .siteFriendsUserBox a:hover .username{color:#ce3333;}
.instagramUserFriendsList .siteFriendsUserBox a img{width: 80px; float: left; height: 80px; border-radius: 50%; margin-right: 8px;}
.instagramUserFriendsList .siteFriendsUserBox a p{width: 100%; padding-top: 15px;}
.instagramUserFriendsList .siteFriendsUserBox a p:last-child{padding-top: 3px;}
.instagramUserFriendsList .siteFriendsUserBox a .fullname{font-weight: 500; color:#222; font-size: 14px;}
.instagramUserFriendsList .siteFriendsUserBox a .username{font-weight: 300; color:#666; font-size: 13px;}

/*List Page*/
.siteInstagramListUsers .instagramUserBox{padding: 5px; box-sizing: border-box;}
.siteInstagramListUsers .instagramUserBox a{width: 100%; display: block; color:#222; text-decoration: none; height: 120px; padding: 10px; box-sizing: border-box; border:1px solid #dedede; background: #fff; border-radius: 5px;}
.siteInstagramListUsers .instagramUserBox a p:first-child{color:#ce3333; font-weight: 500;}
.siteInstagramListUsers .instagramUserBox a:hover p:first-child{color:#222;}
.siteInstagramListUsers .instagramUserBox a p .count{background: #ce3333; color:#fff; font-size: 12px;border-radius:50%;padding: 0px 5px; margin-right: 5px; }
.siteInstagramListUsers .instagramUserBox .instagramUserImage{height: 100px; display: flex; align-items: center; float: left; width:100px; margin-right: 10px;}
.siteInstagramListUsers .instagramUserBox img{float: left; width: 100px; height: 100px; border-radius: 50%;}
.siteInstagramListUsers .instagramUserBox .instagramUsername{;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.siteInstagramListUsers .instagramUserBox .instagramUsername p:first-child{margin-top: 5px;}
.siteInstagramListUsers .instagramUserBox .instagramUsername p{width: 100%; line-height: 22px;}
.siteInstagramListMedias{width: 100%; margin:15px 0;}
.siteInstagramListMedias::after{clear: both; display: table; content: "";}
.siteInstagramListMedias .siteBox-3{padding: 10px; box-sizing: border-box;}

/*Media Page*/
.videoContainer{padding: 20px; background-color: #fff; box-sizing: border-box; margin:20px auto; border:1px solid #dedede; border-radius: 5px;}
.videoContainer::after{content: ""; clear:both; display: table;}
.tiktokVideoPlayer{width: 50%; float: left;}
.tiktokVideoPlayer h1{font-size:22px; margin: 10px 0;}
.tiktokVideoPlayer img{width: 100%;}
.tiktokVideoPlayer video{width: 100%;}
.tiktokVideoCommentsBox{width: 50%; float:left; padding: 0 10px 0 25px; box-sizing: border-box;}
.tiktokVideoCommentsBox .tiktokVideoUserInfos{height: 80px; width: 100%; margin-bottom: 15px;}
.tiktokVideoCommentsBox .tiktokVideoUserInfos img{width: 80px; height: 80px; border-radius: 50%; float: left; margin-right: 15px; }
.tiktokVideoCommentsBox .tiktokVideoUserInfos a{display: block; color:#222;}
.tiktokVideoCommentsBox .tiktokVideoUserInfos a:hover{color:#ce3333;}
.tiktokVideoCommentsBox .tiktokVideoUserInfos a p{padding-top: 5px;}
.tiktokVideoCommentsBox .tiktokVideoUserInfos a p:last-child{padding-top: 0;}
.tiktokVideoCommentsBox .tiktokVideoStatsAndDesc p{float: left; width: 50%;}
.tiktokVideoCommentsBox .description{margin: 10px 0;}
.tiktokVideoCommentsBox .tiktokCommentUser{width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #dedede;}
.tiktokVideoCommentsBox .tiktokVideoComments{width: 100%;}
.tiktokVideoCommentsBox .tiktokVideoComments::after{content: ""; clear:both; display: table;}
.tiktokVideoCommentsBox .tiktokCommentUser a {display: block; height: 60px; width: 100%; color:#222;}
.tiktokVideoCommentsBox .tiktokCommentUser a:hover {color:#ce3333;}
.tiktokVideoCommentsBox .tiktokCommentUser a img{width: 60px; height: 60px; border-radius: 50%; float: left; margin-right: 15px; }
.tiktokVideoCommentsBox .tiktokCommentUser a p{padding-top: 5px;}
.tiktokVideoCommentsBox .tiktokCommentUser a p:last-child{padding-top: 0;}
.tiktokVideoCommentsBox .tiktokUserVideoComment h3 {margin:15px 0;}


@media only screen and (max-width: 1024px) {
  .siteContainer{width: 100%; margin:0 auto;}
  .siteFullContainer .siteheadline .siteHomeSearch{margin:35px auto; width: 85%;}
  .siteInstagramSearchResult{padding: 0 15px; box-sizing: border-box;}
}
@media only screen and (max-width: 768px) {
  .instagramTrendLists .listItem{width: 20%;}
  .siteDescriptionBox .siteBox-4{width: 50%;}
  .siteInstagramPopularUsers .siteBox-3{width: 50%;}
  .siteInstagramPopularHashtags .siteBox-4{width: 50%;}
  .instagramHashtagBox .instagramPopularChallenge{width: 86%;}
  .siteInstagramSearchResult .instagramHashtagList{width: 100%;}
  .siteInstagramSearchResult .instagramUserList{width: 100%;}
  .instagramUserMediaList .siteBox-3{width: 50%;}
  .siteInstagramListUsers .siteBox-4{width: 33.33%; font-size: 12px;}
  .siteInstagramListMedias .siteBox-3{width: 50%;}
}

@media only screen and (max-width: 450px) {
    header .siteMenuRight{width: 15%;}
  header .siteMenuRight ul{display: none;}
  header .siteMenuLeft{width: 85%;}
  header .siteMenuLeft .search{display: none;}
  .siteFullContainer .siteheadline h1{font-size: 18px;}
  .siteFullContainer .siteheadline h2{font-size: 16px; padding-top: 0;}
  .siteFullContainer .siteheadline .siteHomeSearch .searchHome{width: 85%;}
  .siteFullContainer .siteheadline .siteHomeSearch button{width: 15%;}
  .siteFullContainer .siteheadline .siteHomeSearch{width: 80%;}
  .siteHomeBanner{height: 245px;}
  .instagramTrendLists .listItem{width: 33.33%;}
  .instagramTrendLists .listItem:last-child{display: none;}
  .siteDescriptionBox .siteBox-4{width: 100%;}
  .siteInstagramPopularUsers .siteBox-3{width: 100%;}
  .siteInstagramPopularHashtags .siteBox-4{width: 100%;}
  .instagramUserList .siteBox-3{width: 100%;}
  .siteSearchBoxHeader .siteSearchForm{width: 95%;}
  .instagramUserContainer .instagramInfos{width: 100%; height: 100%;}
  .instagramUserContainer .instagramInfos .userInstagramAvatar{margin:0 auto; width: 120px;}
  .instagramUserContainer .instagramInfos img{float: none;margin-right: 0;}
  .instagramUserContainer .instagramInfos p{text-align: center;}
  .instagramUserContainer .instagramInfos p a{font-size: 17px; color:#222;}
  .instagramUserContainer .instagramUserAnalytics .instagramUserStats{width: 33.33%; border-bottom: 1px solid #dedede}
  .instagramUserContainer .instagramUserAnalytics .instagramUserStats:nth-child(3){border-right: none;}
  .instagramUserContainer .instagramUserAnalytics .instagramUserStats:nth-child(4){width: 50%; border-bottom:none}
  .instagramUserContainer .instagramUserAnalytics .instagramUserStats:nth-child(5){width: 50%;border-bottom: none}
  .instagramUserMediaList .siteBox-3{width: 100%;}
  .instagramUserFriendsList .siteBox-3{width: 100%;}
  .instagramUserContainer{margin-top: 0;}
  .siteInstagramListUsers .siteBox-4{width: 100%}
  .siteInstagramListMedias .siteBox-3{width: 100%;}
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-sizing:border-box;
}

.features .card-body {
    padding: 50px 0 0 0;    
}
.features .card .features-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: calc(50% - 30px);
    border-radius: 50%;
}