﻿@model AccountViewModel
@{
    ViewBag.Title = SeoHelper.UserAnchorTitle(Model.Username);
    ViewBag.Description = $"You can find {Model.Username}'s Snapchat Username and {Model.Username}'s Snapchat Code. This page contains also other social media platform links of Snapchat {Model.Username}.";
    ViewBag.Robots = "index,follow";
}


<div class="main">
    <div class="siteContainer">
        <div class="instagramUserContainer">
            <div class="instagramBreadcrumb">
                <a href="/" title="Online Instagram Viewer Browse and Find Accounts and Medias">Home</a>
                <span>&gt;</span>
                <span class="username">@Model.Username</span>
            </div>
            <h1>@Model.Username's Followers/Fans in @@@Model.Username Instagram Account</h1>
            <h2>Find All Instagram Followers/Fans of @Model.Username in @@@Model.Username Instagram Account.</h2>

            <div class="instagramInfos">
            </div>
            <div class="instagramUserAnalytics">
            </div>

            <div class="instagramStats">
                <div class="width30">
                    <h3>@Model.Username Daily Follower Changes</h3>
                    <p>This chart is daily @Model.Username follower changes on historical chart instagram statistics summary for @Model.Username</p>
                </div>
                <div class="width70">
                    <div id="followerChart"></div>
                </div>
            </div>
            <div class="instagramStats">
                <div class="width30">
                    <h3>@Model.Username Daily Friends Changes</h3>
                    <p>This chart is daily @Model.Username friends changes on historical chart instagram analytical hisyory tables for @Model.Username</p>
                </div>
                <div class="width70">
                    <div id="friendChart"></div>
                </div>
            </div>
            <div class="instagramStats">
                <div class="width30">
                    <h3>@Model.Username Daily Media/Post Changes</h3>
                    <p>This chart is daily @Model.Username media/post changes on historical chart instagram analytical hisyory tables for @Model.Username</p>
                </div>
                <div class="width70">
                    <div id="mediaChart"></div>
                </div>
            </div>

            <div class="userLastStatsBox">
                <div class="siteBox-3 userLastStats mentions">
                    <i class="icon-user"></i>
                    <p>@Model.Username Friends</p>
                    <ul>
                    </ul>
                </div>
                <div class="siteBox-3 userLastStats hashtags">
                    <i class="icon-price-tags"></i>
                    <p>Last Hashtags</p>
                    <ul>
                    </ul>
                </div>
                <div class="siteBox-3 userLastStats locations">
                    <i class="icon-location2"></i>
                    <p>Last Locations</p>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="instagramUserMediaList">
        </div>
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="~/_assets/js/jquery.min.js"></script>
    <script src="~/_assets/js/tagra.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>

    <script>

        $("document").ready(function () {
            instagram.profile("@Model.Username", "funny", false);
        });

        var dates = @Html.Raw(Json.Encode(Model.Date));
        var followers = @Html.Raw(Json.Encode(Model.Followers));
        var friends = @Html.Raw(Json.Encode(Model.Friends));
        var medias = @Html.Raw(Json.Encode(Model.Media));

        drawCharts();

        function drawCharts() {
            draw("#followerChart", dates, followers, 'green', 'line');
            draw("#friendChart", dates, friends, 'red', 'line');
            draw("#mediaChart", dates, medias, 'red', 'line');
        }

        function draw(selector, labels, values, color, type) {
            return new frappe.Chart(selector, {
                data: {
                    labels: labels,
                    datasets: [
                        { values: values }
                    ]
                },
                type: type,
                height: 200,
                colors: [color],
            });
        }

        setInterval(function () {
            var elem = document.querySelector('.instagramUserMediaList');
		    var msnry = new Masonry( elem, {
		      itemSelector: '.siteBox-3',
            });
        }, 2000)

    </script>
}