﻿@model AccountViewModel
@{
    ViewBag.Title = Model.Username + " Instagram profile";
    ViewBag.Canonical = Url.Action("Index", "Account", new { username = Model.Username }) + "/";
    ViewBag.Description = Model.Username + " Instagram Profile";
    ViewBag.Robots = "index,follow";
}

<div class="site-content--extra-large site-grid">
    <div class="centered" id="docTitle">

    </div>
    <div class="site-grid-row">
        <div class="site-grid-col site-grid-col--12" id="accountHeader">

        </div>
    </div>
</div>

<div class="site-content--extra-large site-grid">
    <div class="site-grid-row profileStats">
    </div>
</div>

<div class="site-content--extra-large site-grid">
    <div class="site-grid-row">
        <div class="site-grid-col site-grid-col--12 ">
            <div class="centered">
                <h2 class="site-jumbotron-subtitle"></h2>
            </div>
        </div>
    </div>
</div>

<div class="site-content--extra-large site-grid listUserInfos">
    <div class="instagramStats">
        <div class="grid-col grid-col--3 mentions">
            <p>@Model.Username Friends</p>
            <ul>
            </ul>
        </div>
        <div class="grid-col grid-col--3 hashtags">
            <p>Last Hashtags</p>
            <ul>
            </ul>
        </div>
        <div class="grid-col grid-col--3 locations">
            <p>Last Locations</p>
            <ul>
            </ul>
        </div>
    </div>
</div>

<div class="spacer-2x"></div>

<div class="site-content--extra-large site-grid" id="statCont">
    <div class="instagramStats">
        <div class="width30">
            <h3>@Model.Username Daily Follower Changes</h3>
            <p>This chart is daily @Model.Username follower changes on historical chart instagram statistics summary for @Model.Username</p>
        </div>
        <div class="width70">
            <div id="followerChart"></div>
        </div>
    </div>
    <div class="instagramStats">
        <div class="width30">
            <h3>@Model.Username Daily Friends Changes</h3>
            <p>This chart is daily @Model.Username friends changes on historical chart instagram analytical hisyory tables for @Model.Username</p>
        </div>
        <div class="width70">
            <div id="friendChart"></div>
        </div>
    </div>
    <div class="instagramStats">
        <div class="width30">
            <h3>@Model.Username Daily Media/Post Changes</h3>
            <p>This chart is daily @Model.Username media/post changes on historical chart instagram analytical hisyory tables for @Model.Username</p>
        </div>
        <div class="width70">
            <div id="mediaChart"></div>
        </div>
    </div>
</div>

<div class="site-content--extra-large site-grid">
    <div class="site-grid-row grid gallery" data-colcade="columns: .grid-col, items: .grid-item">
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>
        <div class="grid-col grid-col--3"></div>

    </div>
</div>


<button class="site-btn site-btn--light search-btn" onclick="openSearch()"><i class="ti-search"></i></button>

<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="site-form">
            <div class="site-form-field">
                <input type="text" name="q" id="q" placeholder="Type something to search..." class="site-input site--width-50" value="">
                <button class="site-btn site-btn--blue btn-search" id="fire"><i class="ti-search"></i></button>
                <button class="closebtn site-btn site-btn--red" onclick="closeSearch()" title="Close Overlay"><i class="ti-close"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="loader"></div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/instagram.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
    <script>

        var dates = @Html.Raw(Json.Encode(Model.Date));
        var followers = @Html.Raw(Json.Encode(Model.Followers));
        var friends = @Html.Raw(Json.Encode(Model.Friends));
        var medias = @Html.Raw(Json.Encode(Model.Media));

        drawCharts();

        function drawCharts() {
            if (dates.length > 0) {
                console.log("geldi");
                draw("#followerChart", dates, followers, 'green', 'line');
                draw("#friendChart", dates, friends, 'red', 'line');
                draw("#mediaChart", dates, medias, 'red', 'line');
            }
            else {
                $("#statCont").remove();
            }
        }

        function draw(selector, labels, values, color, type) {
            return new frappe.Chart(selector, {
                data: {
                    labels: labels,
                    datasets: [
                        { values: values }
                    ]
                },
                type: type,
                height: 200,
                colors: [color],
            });
        }

        instagram.profile("@Model.Username", "funny", false);

        document.querySelector("#q").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());

                window.location.assign("/search/" + value + "/");
                return false;
            }
        };
        function clearForSearch(value) {
            value = value.toLowerCase();
            value = value.replace(/ /g, ' ');
            value = value.replace('#', '');
            value = value.replace('<', '');
            value = value.replace('>', '');
            value = value.replace('%', '');
            value = value.replace('&', '');
            value = value.replace('.', '');
            value = value.replace('*', '');
            value = value.replace('/', '');
            value = value.replace('~', '');
            value = value.replace(';', '');
            value = value.replace('@@', '');
            return value;
        }

        document.querySelector("#fire").onclick = function () {
            value = clearForSearch(document.querySelector("#q").value);
            if (value == '')
                ;
            else
                window.location.assign("/search/" + value + "/");

            return false;
        }

        function openSearch() {
            document.getElementById("myOverlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }

    </script>
}
