﻿@{
    ViewBag.Title = CacheHelper.Setting.Sitename + " About";
    ViewBag.Description = CacheHelper.Setting.Sitename + " About";
    ViewBag.Robots = "noindex,nofollow";
    ViewBag.Canonical = Url.Action("About", "Page");
}
    <div class="sd-group site-content--extra-large centered">
        <div class="card">
            <p>Hello Visitor,</p>
            <p style="word-break:break-word">
                As @CacheHelper.Setting.Siteadres, we try to provide best user interface and accesibility to browse social media public data to our visitors.
                At this point we have to inform you, that we can just show public data from social media and respective users of social media platforms.
                We aim to be best social media viewer on internet. Many people don't have smart phones or fast internet connection. @CacheHelper.Setting.Siteadres
                try to provide best and fast platform to browse public data. Also we've stored many data from public users on social media like media
                counts, follower and friends count. Also we have several tools, that make follow, analyze and/or understand social media profiles easily.
            </p>
            <strong>Subscription</strong>
            <p style="word-break:break-word">
                You can subscribe any public user in @CacheHelper.Setting.Siteadres. Subscription tool provides users to follow and be informed when subscribed user
                share new content. This tool is different from social media feed or follow logic. As you know social media platforms like twitter, instagram, facebook
                has algorithms to build you home feed. That algorithms don't work based on recent shares. Actually platforms only cares advertiser or brands. @CacheHelper.Setting.Siteadres
                sends email about recent shares of users you want to follow.
            </p>
            <strong>Compare</strong>
            <p style="word-break:break-word">
                You can compare any two account in @CacheHelper.Setting.Siteadres. This comparing contains follower, following counts, media counts etc.
            </p>
        </div>
    </div>