﻿@model ReportModel
@{
    ViewBag.Title = "Report problem on - " + CacheHelper.Setting.Sitename;
    ViewBag.Description = "Report problem on - " + CacheHelper.Setting.Sitename;
    ViewBag.Robots = "noindex,nofollow";
    ViewBag.Canonical = string.IsNullOrEmpty(Model.Username) ? Url.Action("Index", "Page") : Url.Action("Index", "Page", new { username = Model.Username });
}
<div class="sd-group site-content--extra-large centered">
    <div class="card">
        <p>Dear visitors,</p>
        <p>
            If you would like to remove your profile and whole content from our website,
            You can login our website and set your profile private on our website, But if you do not want to login please feel free to contact us for removal request
        </p>
        <p style="color:#007E33;word-break:break-word">
            !! We would like you to know that as @CacheHelper.Setting.Sitename team we do not save any data, image or video of respective social media users on our servers or cloud.
            We serve as a bridge between internet users and easily accessible social media data by anyone or any third-party software.
        </p>
        <p style="color:#FF8800;word-break:break-word">
            !!! We will disable accessing your account or any other data about your Instagram with using our website.
            Your account will never show up search results, friends lists, suggestions or any other page anymore on @CacheHelper.Setting.Sitename.
            You can come back and check after your removal process will end.
        </p>
        <p style="color:#CC0000;word-break:break-word">
            !!! We are sorry to say that it will take few weeks that <span style="background-color:#CC0000;color:#FFFFFF">google</span>'s removing our website's indexes from google search results about your information. We can not step in that process.
        </p>
        @using (Html.BeginForm("Index", "Page", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            if (ViewBag.ErrorList != null)
            {
                <div class="error" style="text-align:left!important;">
                    <ul>
                        @foreach (var item in ViewBag.ErrorList)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            }

            if (ViewBag.Success != null)
            {
                <div class="success" style="text-align:left!important;">
                    Thanks for report! We are contact you
                </div>
            }

            <div class="card-input-div">
                <input type="text" class="card-input" placeholder="Subject" value="@Model.Subject" name="subject">
            </div>
            <div class="card-input-div">
                <input type="text" class="card-input" placeholder="E-mail" required="" value="@Model.MailAddress" name="mail">
            </div>
            <div class="card-input-div">
                <input type="text" class="card-input" placeholder="Fullname" name="fullname" value="@Model.Fullname">
            </div>
            <div class="card-input-div">
                <input type="text" class="card-input" placeholder="Instagram Username" name="username" value="@Model.Username">
            </div>
            <div class="card-input-div">
                <textarea cols="20" rows="5" maxlength="300" class="card-input" placeholder="Problem" required="" name="message">@Model.Message</textarea>
            </div>
            <div class="card-input-div">
                <input type="text" class="card-input" name="captcha" placeholder="@Model.Captha1 + @Model.Captha2 = ?" required="" value="">
                <input type="hidden" class="card-input" name="capt1" value="@Model.Captha1">
                <input type="hidden" class="card-input" name="capt2" value="@Model.Captha2">
            </div>
            <div class="card-input-div">
                <button class="site--color-dark site-btn site-btn--light site-btn-small">Send</button>
            </div>
        }
    </div>
</div>

