﻿@{
    ViewBag.Title = CacheHelper.Setting.Sitename + " Privacy - Policy";
    ViewBag.Description = CacheHelper.Setting.Sitename + " Privacy - Policy";
    ViewBag.Robots = "noindex,nofollow";
    ViewBag.Canonical = Url.Action("Privacy", "Page");
}

<div class="sd-group site-content--extra-large centered">
    <div class="card">


        <p style="word-break:break-word">
            This privacy policy has been compiled to better serve those who are concerned with how their
            'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and
            information security, is information that can be used on its own or with other information to identify, contact,
            or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a
            clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in
            accordance with our website.
        </p>
        <p style="word-break:break-word"><strong>What personal information do we collect from the people that visit our blog, website or app?</strong></p>
        <p style="word-break:break-word">
            When ordering or registering on our site, as appropriate, you may be asked to enter your name or other details to help you
            with your experience.
        </p>
        <p style="word-break:break-word"><strong>When do we collect information?</strong></p>
        <p style="word-break:break-word">We collect information from you when you register on our site or enter information on our site.</p>
        <p style="word-break:break-word">Provide us with feedback on our products or services</p>
        <p style="word-break:break-word"><strong>How do we use your information?</strong></p>
        <p style="word-break:break-word">
            We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a
            survey or marketing communication, surf the website, or use certain other site features in the following ways:
        </p>
        <ul>
            <li>
                To personalize your experience and to allow us to deliver the type of content and product offerings in which you
                are most interested.
            </li>
            <li>To improve our website in order to better serve you.</li>
        </ul>
        <p style="word-break:break-word"><strong>How do we protect your information?</strong></p>
        <p style="word-break:break-word">We do not use vulnerability scanning and/or scanning to PCI standards.</p>
        <p style="word-break:break-word">We do collect credit card information, but did not know PCI compliant scans are now required.</p>
        <p style="word-break:break-word">We do not use Malware Scanning.</p> <p style="word-break:break-word">We do not use an SSL certificate</p>
        <ul>
            <li>
                We only provide articles and information. We never ask for personal or private information like names, email
                addresses, or credit card numbers.
            </li>
        </ul>
        <p style="word-break:break-word"><strong>Do we use 'cookies'?</strong></p>
        <p style="word-break:break-word">
            Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your
            Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser
            and capture and remember certain information. For instance, we use cookies to help us remember and process the items
            in your shopping cart. They are also used to help us understand your preferences based on previous or current site
            activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate
            data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
        </p>
        <p style="word-break:break-word"><strong>We use cookies to:</strong></p>
        <ul>
            <li>Understand and save user's preferences for future visits.</li>
            <li>
                Compile aggregate data about site traffic and site interactions in order to offer better site
                experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.
            </li>
        </ul>
        <p style="word-break:break-word">
            You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies.
            You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the
            correct way to modify your cookies.
        </p>
        <p style="word-break:break-word">
            If you turn cookies off, some features will be disabled. It won't affect the user's experience that make your site
            experience more efficient and may not function properly.
        </p>
        <p style="word-break:break-word">However, you will still be able to place orders.</p>
        <p style="word-break:break-word"><strong>Third-party disclosure</strong></p>
        <p style="word-break:break-word">We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
        <p style="word-break:break-word"><strong>Third-party links</strong></p>
        <p style="word-break:break-word">We do not include or offer third-party products or services on our website.</p>
        <p style="word-break:break-word"><strong>Google</strong></p>
        <p style="word-break:break-word">
            Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a
            positive experience for users.
        </p>
        <p style="word-break:break-word">We use Google AdSense Advertising on our website.</p>
        <p style="word-break:break-word">
            Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads
            to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie
            by visiting the Google Ad and Content Network privacy policy.
        </p>
        <p style="word-break:break-word">We have implemented the following:</p>
        <ul> <li>Remarketing with Google AdSense</li> </ul>
        <p style="word-break:break-word">
            We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and
            third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user
            interactions with ad impressions and other ad service functions as they relate to our website.
        </p>
        <p style="word-break:break-word"><strong>Opting out:</strong></p>
        <p style="word-break:break-word">
            Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by
            visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.
        </p>
        <p style="word-break:break-word"><strong>California Online Privacy Protection Act</strong></p>
        <p style="word-break:break-word">
            CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy.
            The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world)
            that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy
            policy on its website stating exactly the information being collected and those individuals or companies with whom it is being
            shared.
        </p> <p style="word-break:break-word"><strong>According to CalOPPA, we agree to the following:</strong></p>
        <p style="word-break:break-word">Users can visit our site anonymously.</p>
        <p style="word-break:break-word">
            Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page
            after entering our website.
        </p> <p style="word-break:break-word">
            Our Privacy Policy link includes the word 'Privacy' and can be easily be found on the page
            specified above.
        </p> <p style="word-break:break-word">You will be notified of any Privacy Policy changes:</p>
        <ul> <li>On our Privacy Policy Page</li> </ul>
        <p style="word-break:break-word">Can change your personal information:</p>
        <ul> <li>By logging in to your account</li> </ul>
        <p style="word-break:break-word"><strong>How does our site handle Do Not Track signals?</strong></p>
        <p style="word-break:break-word">
            We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism
            is in place.
        </p> <p style="word-break:break-word"><strong>Does our site allow third-party behavioral tracking?</strong></p>
        <p style="word-break:break-word">It's also important to note that we do not allow third-party behavioral tracking</p>
        <p style="word-break:break-word"><strong>COPPA (Children Online Privacy Protection Act)</strong></p> <p style="word-break:break-word">
            When it comes to the collection of personal information
            from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control.
            The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators
            of websites and online services must do to protect children's privacy and safety online.
        </p>
        <p style="word-break:break-word">We do not specifically market to children under the age of 13 years old.</p>
        <p style="word-break:break-word"><strong>Fair Information Practices</strong></p>
        <p style="word-break:break-word">
            The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include
            have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information
            Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal
            information.
        </p> <p style="word-break:break-word">
            In order to be in line with Fair Information Practices we will take the following responsive action, should a
            data breach occur:
        </p> <p style="word-break:break-word">We will notify the users via in-site notification in 30 days.</p>
        <p style="word-break:break-word">
            We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable
            rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals
            have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate
            and/or prosecute non-compliance by data processors.
        </p>
        <p style="word-break:break-word"><strong>CAN SPAM Act</strong></p>
        <p style="word-break:break-word">
            The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages,
            gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
        </p>
        <p style="word-break:break-word"><strong>We collect your email address in order to:</strong></p>
        <p style="word-break:break-word">To be in accordance with CANSPAM, we agree to the following:</p>
        <ul>
            <li>Not use false or misleading subjects or email addresses.</li>
            <li>Identify the message as an advertisement in some reasonable way.</li>
            <li>Include the physical address of our business or site headquarters.</li>
            <li>Monitor third-party email marketing services for compliance, if one is used.</li>
            <li>Honor opt-out/unsubscribe requests quickly.</li>
            <li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
        </ul>
        <p style="word-break:break-word">If at any time you would like to unsubscribe from receiving future emails, you can email us at and we will promptly remove you from ALL correspondence.</p>

    </div>
</div>